{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-user"></span>
 				<a href="{% url 'person' person.pk %}">{{ person }}</a>
 			</h3>
	 	</div>
	 </div>

	 <div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<div class="row">
 		<div class="col-md-12">
	 		<div>
	 			<h4>
		 			<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-search"></span>
		 			Search for People:{% if search_results %} ({{ search_results|length }} found){% endif %}
	 			<h4>
	 		</div>
		</div>
	</div>

	<div class="row">
 		<div class="col-md-12">
		 	<div>{% crispy personsearchform %}</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	{% if search_results %}

		<div class="row">
	 		<div class="col-xs-12">
		 		<div>
		 			<h4>
			 			<span class="glyphicon glyphicon-user"></span>
			 			<span class="glyphicon glyphicon-resize-horizontal"></span>
			 			<span class="glyphicon glyphicon-user"></span>
			 			Add Relationship to Existing Person:
		 			<h4>
		 		</div>
			</div>
		</div>

		<form action ="{% url 'add_relationship' person.pk %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="editrelationships">
			<div class="form-row">
				<div class="col-xs-12">
					<table class="table table-striped">
						<tbody>
					 		{% for result in search_results %}
				 				<tr>
				 					<td>
				 						<a href="{% url 'person' result.pk %}">
											{{ result }}
										</a>
									</td>
									<td>
										{{ result.age_status.status }}
									</td>
									<td>
										{% for field in addrelationshiptoexistingpersonform %}
											{% if field.name == result.field_name %}
												is {{ person.full_name }}'s {{ field }}
											{% endif %}
										{% endfor %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class = "form-row">
 					<div class = "col-xs-2">
 						<input type="submit" class="btn btn-primary" value="Submit">
 					</div>
 			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

	{% if addrelationshipform %}

		<div class="row">
	 		<div class="col-xs-12">
		 		<div>
		 			<h4>
			 			<span class="glyphicon glyphicon-user"></span>
			 			<span class="glyphicon glyphicon-resize-horizontal"></span>
			 			<span class="glyphicon glyphicon-user"></span>
			 			<span class="glyphicon glyphicon-plus"></span>
			 			Add Relationship to New Person:
		 			<h4>
		 		</div>
			</div>
		</div>

	
		{% crispy addrelationshipform %}


		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

	{% if relationships_to %}

		<div class="row">
	 		<div class="col-xs-12">
		 		<div>
		 			<h4>
			 			<span class="glyphicon glyphicon-user"></span>
			 			<span class="glyphicon glyphicon-resize-horizontal"></span>
			 			<span class="glyphicon glyphicon-user"></span>
			 			<span class="glyphicon glyphicon-pencil"></span>
			 			Edit an Existing Relationship:
		 			<h4>
		 		</div>
			</div>
		</div>

		
 		<form action ="{% url 'add_relationship' person.pk %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="editrelationships">
			<div class="form-row">
				<div class="col-xs-12">
					<table class="table table-striped">
						<tbody>
					 		{% for relationship_to in relationships_to %}
				 				<tr>
				 					<td>
				 						<a href="{% url 'person' relationship_to.pk %}">
											{{ relationship_to }}
										</a>
									</td>
									<td>
										{{ relationship_to.age_status.status }}
									</td>
									<td>
										{% for field in editexistingrelationshipsform %}
											{% if field.name == relationship_to.select_name %}
												is {{ person.full_name }}'s {{ field }}
											{% endif %}
											{% if field.name == relationship_to.hidden_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class = "form-row">
				<div class = "col-xs-2">
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</div>
		</form>

	{% endif %}

</div>


{% endblock %}

