{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>
				<a href="{% url 'person' person.pk %}">
					{{ person }}
				</a>
			</h2>
		</div>
	</div>

	<div class="row">
 		<div class="col-md-12">
	 		<div class="panel panel-default">
	 			<div class="panel-heading">
	 				<h4 class="panel-title">FIND PERSON:</h4>
	 			</div>
		 		<div class="panel-body">
					{% crispy personsearchform %}
				</div>
			</div>
		</div>
	</div>

	{% if search_results %}

		<div class="row">
			<div class="col-md-12">
		 		<div class="panel panel-default">
		 			<div class="panel-heading">
		 				<h4 class="panel-title">ADD A RELATIONSHIP TO AN EXISTING PERSON:</h4>
		 			</div>
		 			<div class="panel-body">
		 				<form action ="{% url 'add_relationship' person.pk %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="action" value="editrelationships">
							<table class="table table-striped">
								<thead><tr>
									<th>NAME:</th>
									<th>DATE OF BIRTH:</th>
									<th>GENDER:</th>
									<th>{{ person.first_name }} {{ person.last_name }} is this person's:</th>
								</tr></thead>
								<tbody>
							 		{% for result in search_results %}
							 				<tr>
							 					<td>
							 						<a href="{% url 'person' result.pk %}">
														{{ result.first_name }} {{ result.middle_names }} {{ result.last_name }}
													</a>
												</td>
												<td>
													{{ result.date_of_birth }}
												</td>
												<td>
													{{ result.gender }}
												</td>
												<td>
													{% for field in addrelationshiptoexistingpersonform %}
														{% if field.name == result.field_name %}
															{{ field }}
														{% endif %}
													{% endfor %}
												</td>
											</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class = "row">
		 						<div class = "col-xs-2">
		 							<input type="submit" class="btn btn-primary" value="Submit">
		 						</div>
		 					</div>
	 					</form>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

	{% if addrelationshipform %}

		<div class="row">
	 		<div class="col-md-12">
		 		<div class="panel panel-default">
		 			<div class="panel-heading">
		 				<h4 class="panel-title">ADD A RELATIONSHIP TO A NEW PERSON:</h4>
		 			</div>
			 		<div class="panel-body">
						<form action ="{% url 'add_relationship' person.pk %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="action" value="addrelationshiptonewperson">
							{% csrf_token %}
							{% for field in addrelationshipform %}
								{% if field.is_hidden %}
									{{ field }}
								{% else %}
									{% if field.name == 'relationship_type' %}
										<div class = "row form-group">
											<div class = "col-md-2"><b>Relationship:</b></div>
											<div class = "col-md-2">
												{{ person.first_name }} {{ person.last_name }} is the
											</div>
											<div class = "col-md-2">
												{{ field }}</div>
											<div class = "col-md-3"> of this person.</div>
										</div>
									{% else %}
										<div class = "row form-group">
											<div class = "col-md-2">{{ field.label_tag }}</b></div>
											<div class = "col-md-7">{{ field }}</div>
											<div class = "col-md-3 text-danger">{{ field.errors }}</div>
										</div>
									{% endif %}
								{% endif %}
							{% endfor %}
							<div class = "row">
		 						<div class = "col-xs-2">
		 							<input type="submit" class="btn btn-primary" value="Submit">
		 						</div>
		 					</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

	{% if relationships_to %}

	 	<div class="row">
	 		<div class="col-md-12">
	 			<div class="panel panel-default">
					<div class="panel-heading">
			 				<h4 class="panel-title">EXISTING RELATIONSHIPS:</h4>
		 			</div>
			 		<div class="panel-body">
				 		{% for relationship_to in relationships_to %}
			 				<div class="col-md-12">
								{{ person.first_name }} {{ person.last_name }} is the 
								{{ relationship_to.relationship_type }} of
								<a href="{% url 'person' relationship_to.pk %}"> 
									{{ relationship_to.first_name }} {{ relationship_to.last_name }}
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
		 		<div class="panel panel-default">
		 			<div class="panel-heading">
		 				<h4 class="panel-title">EDIT AN EXISTING RELATIONSHIP:</h4>
		 			</div>
		 			<div class="panel-body">
		 				<form action ="{% url 'add_relationship' person.pk %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="action" value="editrelationships">
							<table class="table table-striped">
								<thead><tr>
									<th>NAME:</th>
									<th>DATE OF BIRTH:</th>
									<th>GENDER:</th>
									<th>{{ person.first_name }} {{ person.last_name }} is this person's:</th>
								</tr></thead>
								<tbody>
							 		{% for relationship_to in relationships_to %}
							 				<tr>
							 					<td>
							 						<a href="{% url 'person' relationship_to.pk %}">
														{{ relationship_to.first_name }} 
														{{ relationship_to.middle_names }} 
														{{ relationship_to.last_name }}
													</a>
												</td>
												<td>
													{{ relationship_to.date_of_birth }}
												</td>
												<td>
													{{ relationship_to.gender }}
												</td>
												<td>
													{% for field in editexistingrelationshipsform %}
														{% if field.name == relationship_to.select_name %}
															{{ field }}
														{% endif %}
														{% if field.name == relationship_to.hidden_name %}
															{{ field }}
														{% endif %}
													{% endfor %}
												</td>
											</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class = "row">
		 						<div class = "col-xs-2">
		 							<input type="submit" class="btn btn-primary" value="Submit">
		 						</div>
		 					</div>
	 					</form>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

</div>


{% endblock %}

