{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>
				Add Person
			</h2>
		</div>
	</div>

 	<div class="row">
 		<div class="col-md-12">
	 		<div class="panel panel-default">
	 			<div class="panel-heading">
	 				<h4 class="panel-title">Enter Basic Details:</h4>
	 			</div>
		 		<div class="panel-body">
					<form action ="{% url 'addperson' %}" method="post">
						{% csrf_token %}
						{% for field in addpersonform %}
							{% if field.is_hidden %}
								{{ field }}
							{% else %}
								<div class = "row form-group">
									<div class = "col-md-2">{{ field.label_tag }}</b></div>
									<div class = "col-md-7">{{ field }}</div>
									<div class = "col-md-3 text-danger">{{ field.errors }}</div>
								</div>
							{% endif %}
						{% endfor %}
						{% if matching_people %}
							<p class="text-danger">WARNING: At least one person with this name already exists.</p>
							<p class="text-danger">Please press CONFIRM to create a new person with the same name.</p>
							<p class="text-danger">Or click on the person below to edit their details.</p>
							<div class = "row">
							 	<div class = "col-xs-2">
							 		<input type="submit" name="action" value="CONFIRM"><div>
							 	</div>
							 </div>
						{% else %}
							<div class = "row">
		 						<div class = "col-xs-2">
		 							<input type="submit" value="Submit"><div>
		 						</div>
		 					</div>
		 				{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>

{% if matching_people %}

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped panel panel-default">
				<thead><tr>
					<th>NAME:</th>
				</tr></thead>
				<tbody>
			 		{% for person in matching_people %}
			 				<tr>
			 					<td>
									{{ person.first_name }} {{person.middle_names }} {{ person.last_name }}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endif %}

</div>

{% endblock %}

