{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>
				Add Person
			</h2>
		</div>
	</div>

 	<div class="row">
 		<div class="col-md-12">
	 		<div class="panel panel-default">
	 			<div class="panel-heading">
	 				<h4 class="panel-title">Enter Basic Details:</h4>
	 			</div>
		 		<div class="panel-body">
					<form action ="{% url 'addperson' %}" method="post">
						{% csrf_token %}
						<div class="form-row">
							<div class="form-group col-md-4 mb-0">
								{{ addpersonform.first_name|as_crispy_field }}
							</div>
							<div class="form-group col-md-4 mb-0">
								{{ addpersonform.last_name|as_crispy_field }}
							</div>
							<div class="form-group col-md-4 mb-0">
								{{ addpersonform.age_status|as_crispy_field }}
							</div>
						</div>
						{% if matching_people %}
							<p class="text-danger">WARNING: At least one person with this name already exists.</p>
							<p class="text-danger">Please press CONFIRM to create a new person with the same name.</p>
							<p class="text-danger">Or click on the person below to edit their details.</p>
							<div class = "row">
							 	<div class = "col-xs-2">
							 		<input type="submit" name="action" value="CONFIRM"><div>
							 	</div>
							 </div>
						{% else %}
							<div class = "form-row">
		 						<div class = "col-xs-2">
		 							<input type="submit" value="Submit"><div>
		 						</div>
		 					</div>
		 				{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>

{% if matching_people %}

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped panel panel-default">
				<thead><tr>
					<th>NAME:</th>
				</tr></thead>
				<tbody>
			 		{% for person in matching_people %}
			 				<tr>
			 					<td>
									<a href="{% url 'person' person.pk %}">{{ person }}</a>
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endif %}

</div>

{% endblock %}

