{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-user"></span>
 				<a href="{% url 'person' person.pk %}">{{ person }}</a>
 			</h3>
	 	</div>
	 </div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

 	<div class="row">
 		<div class="col-xs-12">
	 		<h4>
	 			<span class="glyphicon glyphicon-map-marker"></span>
	 			Current Address:
	 		</h4>
	 	</div>
	 </div>

	 <div class="form-row">
	 	<div class="col-xs-12">
 			<div><strong>Address: </strong>{{ person.house_name_or_number }} {{ person.street.name }}</div>
 			<div><strong>Post Code: </strong>{{ person.street.post_code.post_code }}</div>
 			<div><strong>Ward: </strong>{{ person.street.post_code.ward.ward_name }}</div>
 			<div><strong>Area: </strong>{{ person.street.post_code.ward.area.area_name }}</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	{% if people_at_same_address %}

		<div class="row">
	 		<div class="col-xs-12">
		 		<h4>
		 			<span class="glyphicon glyphicon-map-marker"></span>
		 			<span class="glyphicon glyphicon-user"></span>
		 			Related People at Current Address:
		 		</h4>
		 	</div>
		 </div>

	 	<div class="form-row">
	 		<div class="col-xs-12">
				{% for this_person in people_at_same_address %}
					<div>
						<a href="{% url 'person' this_person.pk %}">{{ this_person }}</a>,
						{{ this_person.relationship_counterpart }} of {{ person.full_name }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

	{% if people_not_at_same_address %}

		<div class="row">
	 		<div class="col-xs-12">
		 		<h4>
		 			<span class="glyphicon glyphicon-map-marker"></span>
		 			<span class="glyphicon glyphicon-arrow-left"></span>
		 			<span class="glyphicon glyphicon-user"></span>
		 			Move Related People to Current Address:
		 		</h4>
		 	</div>
		 </div>

		<form action ="{% url 'address_to_relationships' person.pk %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="apply_address">
			<input type="hidden" name="application_keys" value="{{ application_keys }}">
			<div class="form-row">
				<div class="col-xs-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th>Move to {{ person.house_name_or_number }} {{ person.street }}:</th>
							</tr>
						</thead>
						<tbody>
					 		{% for this_person in people_not_at_same_address %}
				 				<tr>
				 					<td>
				 						<a href="{% url 'person' this_person.pk %}">{{ this_person }}</a>, 
										{{ this_person.relationship_counterpart}} of {{ person.full_name }}
									</td>
				 					<td>
				 						{% if this_person.house_name_or_number %}
				 							Currently at 
											{{ this_person.house_name_or_number }}
											{{ this_person.street }}
										{% endif %}
									</td>
									<td>
										{% for field in addresstorelationshipsform %}
											{% if field.name == this_person.apply_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="form-row">
				<div class="col-xs-2">
		 			<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

</div>

{% endblock %}

