{% extends "people/base.html" %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
 		<div class="col-xs-12">
 			<h3>
	 			<span class="glyphicon glyphicon-user"></span>
	 			<span class="glyphicon glyphicon-warning-sign"></span>
	 			Age Exceptions: {{ age_status.status }} older than {{ age_status.maximum_age }}
 			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	{% if people %}

		<div class="form-row">
			<div class="col-xs-12">
				<table class="table table-striped" id="people">
					<tbody>
				 		{% for person in people %}
			 				<tr>
			 					<td>
			 						<a href="{% url 'person' person.pk %}">
										{{ person }}
									</a>
								</td>
								<td>
									{{ person.age_description }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	{% else %}

		<div class="form-row">
			<div class="col-xs-12">
				No age exceptions
			</div>
		</div>

	{% endif %}

</div>

{% endblock %}

