{% extends "people/base.html" %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-user"></span>
 				<a href="{% url 'person' person.pk %}">{{ person }}</a>
 			</h3>
	 	</div>
	 </div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<form action ="{% url 'answer_questions' person.pk %}" method="post">
		{% csrf_token %}
	 	<div class="form-row">
	 		<div class="col-xs-12">
	 			<table class="table table-striped" id="people">
					<tbody>
						{% for field in answerquestionsform %}
							{% if 'question' in field.name %}
								<tr>
									<td>{{ field.label }}</td>
									<td>{{ field }}</td>
							{% elif 'notes' in field.name %}
									<td>{{ field.label }}:</td>
									<td>{{ field }}</td>
								</tr>
							{% else %}
									<td>{{ field }}</td>
									<td></td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class = "form-row">
			<div class = "col-xs-2">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

</div>

{% endblock %}

