{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

    {% include "people/person_header.html" %}

	<div class="row">
		<div class="col-xs-12">
			<div>
				<h4>
					<span class="glyphicon glyphicon-list-alt"></span>
					{% if action_desc == 'Add' %}
						<span class="glyphicon glyphicon-plus"></span>
					{% else %}
						<span class="glyphicon glyphicon-pencil"></span>
					{% endif %}
					{{ action_desc }} Case Note:
				<h4>
			</div>
	   </div>
   </div>

	<div class="row">
 		<div class="col-md-12">
			{% crispy casenotesform %}
		</div>
	</div>

</div>


{% endblock %}

