{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

 	<div class="container">

 	<div class="row col-md-12">

 		<div class="col-md-10">
 			<h3>
	 			<span class="glyphicon glyphicon-signal"></span>
	 			{% if chart.title %}
					{{ chart.title }}
				{% else %}
					{{ chart.name }}
				{% endif %}
 			</h3>
		</div>

		<div class="row">
			<div class="col-xs-10">
	 			<hr>
		 	</div>
		</div>

		{% if chartdatesform %}

			<div class="form-row">
		 		<div class="col-xs-12">
		 			{% crispy chartdatesform %}
				</div>
			</div>

		{% endif %}

		<div class="row">
	 		<div class='col-xs-12'>
	 			<embed type="image/svg+xml" src= {{ chart_display|safe }} />
			</div>
		</div>

	</div>

	</div>

{% endblock %}

