{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

 <div class="container">

 	<div class="row">
 		<div class="col-md-12">
 			<h3>
	 			<span class="glyphicon glyphicon-dashboard"></span>
	 			Dashboard (<span class="glyphicon glyphicon-wrench"></span>ALPHA VERSION)
 			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

 	<div class="row col-md-12">

		{% for chart in charts %}

			<div>
			 	{{ chart|safe }}
			 </div>

		{% endfor %}

	</div>

</div>

{% endblock %}

