{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-calendar"></span>
 				<span class="glyphicon glyphicon-pencil"></span>
 				<a href="{% url 'event' event.pk %}">{{ event.name }}</a>
 			</h3>
	 	</div>
	 </div>

	 <div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class="col-xs-12">
			{% crispy editeventform %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	 </div>

</div>

{% endblock %}

