{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-calendar"></span>
 				<a href="{% url 'event' event.pk %}">{{ event.name }} on {{ event.date }}</a>
 			</h3>
	 	</div>
	 </div>

	 <div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class="col-md-12">
	 		<div>
	 			<h4>
		 			<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-search"></span>
		 			Search for People:
		 				{% if search_results or search_attempted %} ({{ total_search_results }} found){% endif %}
		 				{% if excess_search_results %}
		 					<div>
		 						More than 100 search results found: please refine search.
		 					</div>
		 				{% endif %}
	 			<h4>
	 		</div>
		</div>
	</div>

	<div class="row">
 		<div class="col-xs-12">
		 	<div>{% crispy personsearchform %}</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	{% if search_results %}

		<div class="row">
			<div class="col-xs-12">
	 			<h4>
	 				<span class="glyphicon glyphicon-calendar"></span>
	 				<span class="glyphicon glyphicon-resize-horizontal"></span>
	 				<span class="glyphicon glyphicon-user"></span>
	 				<span class="glyphicon glyphicon-plus"></span>
	 				Add Registrations:
	 			</h4>
		 	</div>
		 </div>

		<form action ="{% url 'event_registration' event.pk %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="addregistration">
			<input type="hidden" name="search_keys" value="{{ search_keys }}">
			<div class="form-row">
				<div class="col-xs-12">	 				
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Registered:</th>
								<th>Apologies:</th>
								<th>Participated:</th>
								<th>Role:</th>
							</tr>
						</thead>
						<tbody>
					 		{% for result in search_results %}
				 				<tr>
				 					<td>
				 						<a href="{% url 'person' result.pk %}">
											{{ result }}
										</a>
									</td>
									<td>
										{% for field in addregistrationform %}
											{% if field.name == result.registered_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for field in addregistrationform %}
											{% if field.name == result.apologies_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for field in addregistrationform %}
											{% if field.name == result.participated_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for field in addregistrationform %}
											{% if field.name == result.role_type_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="form-row">
				<div class="col-xs-2">	
			 		<input type="submit" class="btn btn-primary" value="Submit">
			 	</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

	{% if addpersonandregistrationform %}

		<div class="row">
	 		<div class="col-xs-12">
		 		<div>
		 			<h4>
			 			<span class="glyphicon glyphicon-calendar"></span>
			 			<span class="glyphicon glyphicon-resize-horizontal"></span>
			 			<span class="glyphicon glyphicon-user"></span>
			 			<span class="glyphicon glyphicon-plus"></span>
			 			Add Registration for New Person:
		 			<h4>
		 		</div>
			</div>
		</div>

	
		{% crispy addpersonandregistrationform %}


		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

	{% if editregistrationform %}

		<div class="row">
			<div class="col-xs-12">
	 			<h4>
	 				<span class="glyphicon glyphicon-calendar"></span>
	 				<span class="glyphicon glyphicon-resize-horizontal"></span>
	 				<span class="glyphicon glyphicon-user"></span>
	 				<span class="glyphicon glyphicon-pencil"></span>
	 				Edit Registrations:
	 			</h4>
		 	</div>
		 </div>

		 {% if event.warnings %}
				<div class="row">
					<div class='col-xs-12 text-danger'>
						<span class="glyphicon glyphicon-alert"></span>
						{% for warning in event.warnings %}
							<strong>WARNING: </strong>{{ warning }}
						{% endfor %}
					</div>
				</div>
			{% endif %}

		<form action ="{% url 'event_registration' event.pk %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="editregistration">
			<input type="hidden" name="registration_keys" value="{{ registration_keys }}">
			<div class="form-row">
				<div class="col-xs-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th></th>
								<th>Registered:</th>
								<th>Apologies:</th>
								<th>Participated:</th>
								<th>Role:</th>
							</tr>
						</thead>
						<tbody>
					 		{% for registration in registrations %}
				 				<tr>
				 					<td>
				 						<a href="{% url 'person' registration.person.pk %}">
											{{ registration.person }}
										</a>
									</td>
									<td>
										{% for field in editregistrationform %}
											{% if field.name == registration.registered_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for field in editregistrationform %}
											{% if field.name == registration.apologies_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for field in editregistrationform %}
											{% if field.name == registration.participated_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% for field in editregistrationform %}
											{% if field.name == registration.role_type_field_name %}
												{{ field }}
											{% endif %}
										{% endfor %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class = "form-row">
				<div class = "col-xs-12">
					{% if edit_page_list %}
						{% for page in edit_page_list %}
							<button 
								type="submit" 
								name="edit_page" 
								value="{{ page.number }}" 
								class="btn btn-sm btn-primary person-page-button"
								{% if page.number == edit_page %}
									disabled
								{% endif %}
								>
								{{ page }}
							</button>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class = "form-row">
				<div class = "col-xs-12">
					&nbsp;
				</div>
			</div>
			<div class = "form-row">
				<div class = "col-xs-12">
					<button 
						type="submit" 
						name="edit_page" 
						value="{{ edit_page }}" 
						class="btn btn-primary person-page-button"
						>
						Submit
					</button>
				</div>
			</div>
		</form>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

</div>


{% endblock %}

