{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

 <script type="text/javascript">
	$(document).ready(function() {
		{% if events %}
			$(".search-box").hide();
		{% endif %}
		$(".search-trigger").click(function() {
			$(".search-box").toggle()
		});
	});
</script>

	<div class="container">

	<div class="row">
 		<div class="col-md-12">
 			<h3>
	 			<span class="glyphicon glyphicon-calendar"></span><span class="glyphicon glyphicon-search"></span>
	 			Search for Events{% if number_of_events %} ({{ number_of_events }} found){% endif %}
 			<h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<div class="row">
 		<div class="col-xs-12">
	 		<div class="panel-body">
				{% crispy eventsearchform %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	{% if events %}
		<div class="form-row">
			<div class="col-xs-12">
				<table class="table table-striped">
					<tbody>
				 		{% for event in events %}
			 				<tr>
			 					<td>
			 						<a href="{% url 'event' event.pk %}">
										{{ event }}
									</a>
									{% if event.location %}
										at {{ event.location }}
									{% endif %}
								</td>
								<td>
									Registered: {{ event.registered_count }}
								</td>
								<td>
									Apologies: {{ event.apologies_count }}
								</td>
								<td>
									Participated: {{ event.participated_count }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	{% if page_list %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action ="{% url 'events' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="action" value="search">
						<input type="hidden" name="name" value="{{ name }}">
						<input type="hidden" name="event_category" value="{{ event_category }}">
						<input type="hidden" name="event_type" value="{{ event_type }}">
						<input type="hidden" name="ward" value="{{ ward }}">
						<input type="hidden" name="date_from" value=
							{% if date_from == 'None' %}
								""
							{% else %}
								"{{ date_from|date:'d/m/Y' }}"
							{% endif %}
							>
						<input type="hidden" name="date_to" value=
							{% if date_to == 'None' %}
								""
							{% else %}
								"{{ date_to|date:'d/m/Y' }}"
							{% endif %}
							>
						{% for target_page in page_list %}
							<input type="submit" name="page" value="{{ target_page }}">
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	{% endif %}

 </div>


 {% endblock %}

