{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

	<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>
				Events{% if number_of_events %} ({{ number_of_events }} found){% endif %}
			</h2>
		</div>
	</div>

	<div class="row">
 		<div class="col-md-12">
	 		<div class="panel panel-default">
	 			<div class="panel-heading">
	 				<h4 class="panel-title">FIND EVENT:</h4>
	 			</div>
		 		<div class="panel-body">
					<form action ="{% url 'events' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="action" value="search">
						<input type="hidden" name="page" value="1">
						<div class = "row form-group">
							{% for field in eventsearchform %}
								<div class = "col-md-2">
									<div>{{ field.label_tag }}</div>
									<div>{{ field }}</div>
								</div>
							{% endfor %}
						</div>
						<div class = "row col-md-12">
							{{ search_error }}
						</div>
						<div class = "row">
	 						<div class = "col-xs-2">
	 							<input type="submit" value="Submit">
	 						</div>
	 					</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% if events %}
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped panel panel-default">
					<thead><tr>
						<th>NAME:</th>
						<th>CATEGORY:</th>
						<th>TYPE:</th>
						<th>LOCATION:</th>
						<th>WARD:</th>
						<th>DATE:</th>
						<th>REGISTERED:</th>
						<th>PARTICIPATED:</th>
					</tr></thead>
					<tbody>
				 		{% for event in events %}
			 				<tr>
			 					<td>
			 						<a href="{% url 'event' event.pk %}">
										{{ event.name }}
									</a>
								</td>
								<td>
									<a href="{% url 'event_category' event.event_type.event_category.pk %}">
										{{ event.event_type.event_category.name }}
									</a>
								</td>
								<td>
									<a href="{% url 'event_type' event.event_type.pk %}">
										{{ event.event_type.name }}
									</a>
								</td>
								<td>
									{{ event.location }}
								</td>
								<td>
									{% if event.ward %}
										<a href="{% url 'event_ward' event.ward.pk %}">
											{{ event.ward.ward_name }}
										</a>
									{% else %}
										&nbsp;
									{% endif %}
								</td>
								<td>
									{{ event.date }}
								</td>
								<td>
									{{ event.registered_count }}
								</td>
								<td>
									{{ event.participated_count }}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	{% if page_list %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form action ="{% url 'events' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="action" value="search">
						<input type="hidden" name="name" value="{{ name }}">
						<input type="hidden" name="event_category" value="{{ event_category }}">
						<input type="hidden" name="event_type" value="{{ event_type }}">
						<input type="hidden" name="ward" value="{{ ward }}">
						<input type="hidden" name="date_from" value=
							{% if date_from == 'None' %}
								""
							{% else %}
								"{{ date_from|date:'d/m/Y' }}"
							{% endif %}
							>
						<input type="hidden" name="date_to" value=
							{% if date_to == 'None' %}
								""
							{% else %}
								"{{ date_to|date:'d/m/Y' }}"
							{% endif %}
							>
						{% for target_page in page_list %}
							<input type="submit" name="page" value="{{ target_page }}">
						{% endfor %}
					</form>
				</div>
			</div>
		</div>
	{% endif %}

 </div>


 {% endblock %}

