{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-calendar"></span>
 				{{ event.name }} on {{ event.date }}
 			</h3>
	 	</div>
	 </div>

	 <div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'edit_event' event.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class='col-xs-11'>
			<div class="row">
	 			<strong>Date: </strong>{{ event.date }}
	 		</div>
	 		<div class="row">
	 			<strong>Time: </strong>From {{ event.start_time }} to {{ event.end_time }}
	 		</div>
	 		<div class="row">
	 			<strong>Type: </strong>{{ event.event_type.name }}
	 		</div>
	 	</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'edit_event' event.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class='col-xs-11'>
			<div class="row">
 				<strong>Description: </strong>
 				<div>{{ event.description|linebreaks }}</div>
 			</div>
	 	</div>
	 </div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>
	 
	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'edit_event' event.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class='col-xs-11'>
 			{% if event.venue %}
				<div class="row">
	 				<strong>Venue: </strong>
 					<a href="{% url 'venue' event.venue.pk %}">
 						{{ event.venue.name }}
 					</a>
	 			</div>
			{% endif %}
	 		{% if event.location %}
				<div class="row">
	 				<strong>Location: </strong>{{ event.location }}
	 			</div>
			{% endif %}
			{% if event.ward %}
				<div class="row">
	 				<strong>Ward: </strong>{{ event.ward.ward_name }}
	 			</div>
			{% endif %}
			{% if event.get_areas %}
		 		<div class="row">
			 		<strong>Areas: </strong>{{ event.get_areas }}
			 	</div>
			{% endif %}
			{% if not event.location and not event.ward and not event.get_areas and not event.venue %}
				<div class="row">
					No location information
				</div>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<div class="row">
		<div class='col-xs-1 text-right'>
			<a href="{% url 'event_registration' event.pk %}">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
		</div>
		<div class='col-xs-11'>
			<div class="row">
 				<strong>Registrations: </strong>{{ event.registered_count }}
 			</div>
 			<div class="row">
 				<strong>Apologies: </strong>{{ event.apologies_count }}
 			</div>
 			<div class="row">
 				<strong>Participated: </strong>{{ event.participated_count }}
 			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<div class="row">
		<div class='col-xs-1 text-right'>
			<a href="{% url 'event_registration' event.pk %}">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
		</div>
		{% if registrations %}
			<div class="col-xs-11">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><span class="glyphicon glyphicon-user"></span> Registrations</th>
							<th>Role</th>
							<th>Registered</th>
							<th>Apologies</th>
							<th>Participated</th>
						</tr>
					</thead>
					<tbody>
						{% for registration in registrations %}
							<tr>
								<td>
									<a href="{% url 'person' registration.person.pk %}"> 
										{{ registration.person }}
									</a>
								</td>
								<td>
									{{ registration.role_type.role_type_name }}
								</td>
								<td>
									{% if registration.registered %}
										<span class="glyphicon glyphicon-ok"></span>
									{% endif %}
								</td>
								<td>
									{% if registration.apologies %}
										<span class="glyphicon glyphicon-ok"></span>
									{% endif %}
								</td>
								<td>
									{% if registration.participated %}
										<span class="glyphicon glyphicon-ok"></span>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<div class="row">
				No registrations
			</div>
		{% endif %}

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>
	</div>

</div>


{% endblock %}

