{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

	<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>
				Events
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped panel panel-default">
				<thead><tr>
					<th>NAME:</th>
					<th>DATE:</th>
					<th>START TIME:</th>
					<th>END TIME:</th>
					<th>DESCRIPTION</th>
				</tr></thead>
				<tbody>
			 		{% for event in events %}
		 				<tr>
		 					<td>
		 						<a href="{% url 'event' event.pk %}">
									{{ event.name }}
								</a>
							</td>
							<td>
								{{ event.date }}
							</td>
							<td>
								{{ event.start_time }}
							</td>
							<td>
								{{ event.end_time }}
							</td>
							<td>
								{{ event.description }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

 </div>


 {% endblock %}

