{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

 <div class="container">

 	<div class="row">
 		<div class="col-xs-3"></div>
 		<div class="col-xs-6">

			<div class="row">
		 		<div class="col-xs-12">
		 			<h4>
			 			<span class="glyphicon glyphicon-lock"></span>
			 			Reset Forgotten Password
		 			</h4>
				</div>
			</div>

			{% if not request_submitted %}

				<div class="form-row">
			 		<div class="col-xs-12">
			 			{% crispy forgotpasswordform %}
					</div>
				</div>

			{% else %}

				<div class="form-row">
			 		<div class="col-xs-12">
			 			<div>Thank you for your request.</div>
			 			<div>Please check your email: if you have entered an email address we recognise, you will
			 			receive a mail with instructions on how to reset your password.</div>
					</div>
				</div>

			{% endif %}

 		</div>
 		<div class="col-xs-3"></div>
 	</div>
</div>

{% endblock %}

