{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

 	<div class="row col-md-12">

 		<div class="col-md-{{ dashboard.margin }}"></div>

		{% for column in dashboard.columns %}

			<div class="col-md-{{ column.width }}">

				{% if column.heading %}

					<h3>{{ column.heading }}</h3>

				{% endif %}

				{% for panel in column.panels %}

					<div class="panel panel-default">
			 			<div class="panel-heading">
			 				<h4 class="panel-title">{{ panel.title }}</h4>
			 			</div>
				 		<div class="panel-body">
				 			{% if panel.show_column_names %}
				 				<div class="col-xs-{{ panel.label_width }}"></div>
								{% for column_name in panel.column_names %}
									<div class="col-xs-{{ panel.column_width }}" align="right">
										{{ column_name }}
									</div>
								{% endfor %}
								{% if panel.right_margin %}
									<div class="col-xs-{{ right_margin }}"></div>
								{% endif %}
							{% endif %}
				 			{% for row in panel.rows %}
				 				{% if panel.display_zeroes or row.has_data %}
					 				<div class="col-xs-{{ panel.label_width }}">
					 					{% if row.url %}
					 						{% if row.parameter %}
					 							<a href="{% url row.url row.parameter %}">
					 						{% else %}
					 							<a href="{% url row.url %}">
					 						{% endif %}
					 					{% endif %}
										{{ row.label }}
										{% if row.url %}
											</a>
										{% endif %}
									</div>
									{% for value in row.values %}
										<div class="col-xs-{{ panel.column_width }}" align="right">
											{{ value }}
										</div>
									{% endfor %}
									{% if panel.right_margin %}
										<div class="col-xs-{{ right_margin }}"></div>
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if panel.totals %}
								<strong>
									<div class="col-xs-{{ panel.label_width }}">
										TOTAL:
									</div>
									{% for total in panel.get_totals %}
										<div class="col-xs-{{ panel.column_width }}" align="right">
											{{ total }}
										</div>
									{% endfor %}
								{% if panel.right_margin %}
									<div class="col-xs-{{ right_margin }}"></div>
								{% endif %}
								</strong>
							{% endif %}
						</div>
					</div>

				{% endfor %}

			</div>

		{% endfor %}

		<div class="col-md-{{ dashboard.margin }}"></div>

	</div>

 {% endblock %}

