{% extends "people/base.html" %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
 		<div class="col-xs-12">
 			<h3>
	 			<span class="glyphicon glyphicon-user"></span>
	 			<span class="glyphicon glyphicon-warning-sign"></span>
	 			Parents Without Children
 			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	{% if parents %}

		<div class="form-row">
			<div class="col-xs-12">
				<table class="table table-striped" id="people">
					<tbody>
				 		{% for person in parents %}
			 				<tr>
			 					<td>
			 						<a href="{% url 'person' person.pk %}">
										{{ person }}
									</a>
								</td>
								<td>
									{{ person.default_role.role_type_name }}
								</td>
								<td>
									{% for rel_from in person.rel_from.all %}
										<div>
											{{ rel_from.relationship_type|capfirst }} of
												<a href="{% url 'person' rel_from.relationship_to.pk %}"> 
													{{ rel_from.relationship_to }}
												</a>
										</div>
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	{% else %}

		<div class="form-row">
			<div class="col-xs-12">
				No parents without children
			</div>
		</div>

	{% endif %}

	{% if page_list %}
		
		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

		<div class="row">
	 		<div class="col-xs-12">
	 			<h4>
		 			<span class="glyphicon glyphicon-user"></span>
		 			<span class="glyphicon glyphicon-warning-sign"></span>
		 			More results
	 			</h4>
			</div>
		</div>

		<div class="form-row">
			<div class="col-xs-12">
				{% for page in page_list %}
					<a href="{% url 'parents_with_no_children' page.number %}">
						<button 
							type="button" 
							class="btn btn-primary people-page-button"
							{% if page.number == this_page %}
								disabled
							{% endif %}
							>{{ page }}
						</button>
					</a>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

</div>

{% endblock %}

