{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function() {
		{% if people %}
			$(".search-box").hide();
		{% endif %}
		$(".search-trigger").click(function() {
			$(".search-box").toggle()
		});
	});
</script>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h2>
				People{% if number_of_people %} ({{ number_of_people }} found){% endif %}
			</h2>
		</div>
	</div>

	<div class="row">
 		<div class="col-md-12">
	 		<div class="panel panel-default">
	 			<div class="panel-heading">
	 				<h4 class="panel-title search-trigger">FIND PERSON:</h4>
	 			</div>
		 		<div class="panel-body search-box">
					{% crispy personsearchform %}
				</div>
			</div>
		</div>
	</div>

	{% if people %}

		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped panel panel-default" id="people">
					<thead><tr>
						<th>NAME:</th>
						<th>DATE OF BIRTH:</th>
						<th>GENDER:</th>
						<th>ROLE:</th>
						<th>RELATIONSHIPS:</th>
					</tr></thead>
					<tbody>
				 		{% for person in people %}
			 				<tr>
			 					<td>
			 						<a href="{% url 'person' person.pk %}">
										{{ person }}
									</a>
								</td>
								<td>
									{{ person.date_of_birth }}
								</td>
								<td>
									{{ person.gender }}
								</td>
								<td>
									{{ person.default_role.role_type_name }}
								</td>
								<td>
									{% for rel_from in person.rel_from.all %}
										<div>
											{{ rel_from.relationship_type|capfirst }} of
												<a href="{% url 'person' rel_from.relationship_to.pk %}"> 
													{{ rel_from.relationship_to }}
												</a>
										</div>
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	{% endif %}

</div>

{% if page_list %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form action ="{% url 'listpeople' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="action" value="search">
					<input type="hidden" name="names" value="{{ names }}">
					<input type="hidden" name="role_type" value="{{ role_type }}">
					<input type="hidden" name="ABSS_type" value="{{ ABSS_type }}">
					<input type="hidden" name="age_status" value="{{ age_status }}">
					<input type="hidden" name="trained_role" value="{{ trained_role }}">
					<input type="hidden" name="ward" value="{{ ward }}">
					<input type="hidden" name="include_people" value="{{ include_people }}">
					{% for target_page in page_list %}
						<input type="submit" name="page" value="{{ target_page }}">
					{% endfor %}
				</form>
			</div>
		</div>
	</div>
{% endif %}


{% endblock %}

