{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function() {
		{% if people %}
			$(".search-box").hide();
		{% endif %}
		$(".search-trigger").click(function() {
			$(".search-box").toggle()
		});
	});
</script>

<div class="container">

	<div class="row">
 		<div class="col-md-12">
 			<h3>
	 			<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-search"></span>
	 			Search for People:{% if number_of_people or search_attempted %} ({{ number_of_people }} found){% endif %}
 			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<div class="row">
 		<div class="col-xs-12">
		 	<div>{% crispy personsearchform %}</div>
		</div>
	</div>

	<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
	</div>

	{% if people %}

		<div class="form-row">
			<div class="col-xs-12">
				<table class="table table-striped" id="people">
					<tbody>
				 		{% for person in people %}
			 				<tr>
			 					<td>
			 						<a href="{% url 'person' person.pk %}">
										{{ person }}
									</a>
								</td>
								<td>
									{{ person.default_role.role_type_name }}
								</td>
								<td>
									{% for rel_from in person.relationships_from %}
										<div>
											{{ rel_from.relationship_type|capfirst }} of
												<a href="{% url 'person' rel_from.relationship_to.pk %}"> 
													{{ rel_from.relationship_to }}
												</a>
											 ({{ rel_from.relationship_to.age_status.status }})
										</div>
									{% endfor %}
								</td>
								{% if not project %}
									<td>
										{% if person.membership_set.exists %}
											{% for membership in person.membership_set.all %}
												<div>
													{{ membership.project.name }}
												</div>
											{% endfor %}
										{% else %}
											<div>
												No project
											</div>
										{% endif %}
									</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	{% endif %}

	{% if page_list %}
		
		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

		<div class="row">
	 		<div class="col-xs-12">
	 			<h4>
		 			<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-search"></span>
		 			More results
	 			</h4>
			</div>
		</div>

		<div class="form-row">
			<div class="col-xs-12">
				<form action ="{% url 'listpeople' %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="action" value="Search">
					<input type="hidden" name="names" value="{{ names }}">
					<input type="hidden" name="keywords" value="{{ keywords }}">
					<input type="hidden" name="role_type" value="{{ role_type }}">
					<input type="hidden" name="membership_type" value="{{ membership_type }}">
					<input type="hidden" name="age_status" value="{{ age_status }}">
					<input type="hidden" name="trained_role" value="{{ trained_role }}">
					<input type="hidden" name="ward" value="{{ ward }}">
					<input type="hidden" name="include_people" value="{{ include_people }}">
					<input type="hidden" name="children_ages" value="{{ children_ages }}">
					{% for page in page_list %}
							<button 
								type="submit" 
								name="page" 
								value="{{ page.number }}" 
								class="btn btn-sm btn-primary person-page-button"
								{% if page.number == this_page %}
									disabled
								{% endif %}
								>
								{{ page }}
							</button>
					{% endfor %}
				</form>
			<div class="col-xs-12">
		</div>

		<div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		</div>

	{% endif %}

</div>

{% endblock %}

