{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">
	
	{% include "people/person_header.html" %}

 	<div class="row">
 		<div class="panel panel-default">
 			<div class="panel-heading">
 				<h4 class="panel-title">
 					<a href="{% url 'profile' person.pk %}">PROFILE</a>
 				</h4>
 			</div>
	 		<div class="panel-body">
	 			<div class="row">
		 			<div class="col-xs-3">First name:</div>
		 			<div class="col-xs-9">{{ person.first_name }}</div>
		 		</div>
		 		{% if person.middle_names %}
		 			<div class="row">
			 			<div class="col-xs-3">Middle names:</div>
			 			<div class="col-xs-9">{{ person.middle_names }}&nbsp</div>
			 		</div>
		 		{% endif %}
	 			<div class="row">
		 			<div class="col-xs-3">Last name:</div>
		 			<div class="col-xs-9">{{ person.last_name }}</div>
		 		</div>
		 		{% if person.age_status.can_have_contact_details %}
		 			<div class="row">
			 			<div class="col-xs-3">Email:</div>
			 			<div class="col-xs-9">{{ person.email_address}}&nbsp</div>
			 		</div>
		 			<div class="row">
			 			<div class="col-xs-3">Home phone:</div>
			 			<div class="col-xs-9">{{ person.home_phone}}&nbsp</div>
			 		</div>
		 			<div class="row">
			 			<div class="col-xs-3">Mobile phone:</div>
			 			<div class="col-xs-9">{{ person.mobile_phone}}&nbsp</div>
			 		</div>
		 		{% endif %}
		 		<div class="row">
		 			<div class="col-xs-3">Date of birth:</div>
		 			<div class="col-xs-9">{{ person.date_of_birth }}</div>
		 		</div>
		 		<div class="row">
		 			<div class="col-xs-3">Age status:</div>
		 			<div class="col-xs-9">{{ person.age_status.status }}</div>
		 		</div>
		 		<div class="row">
		 			<div class="col-xs-3">ABSS TYPE:</div>
		 			<div class="col-xs-9">{{ person.ABSS_type.name }}</div>
		 		</div>
		 		{% if person.age_status.can_be_parent_champion %}
			 		<div class="row">
			 			<div class="col-xs-3">Trained Parent Champion:</div>
			 			<div class="col-xs-9">{{ person.trained_champion|yesno:'Yes,No' }}</div>
			 		</div>
			 		<div class="row">
			 			<div class="col-xs-3">Active Parent Champion:</div>
			 			<div class="col-xs-9">{{ person.active_champion|yesno:'Yes,No' }}</div>
			 		</div>
		 		{% endif %}
		 		{% if not person.age_status.default_role_type_only %}
			 		<div class="row">
			 			<div class="col-xs-3">Role:</div>
			 			<div class="col-xs-9">{{ person.default_role.role_type_name }}</div>
			 		</div>
		 		{% endif %}
		 		<div class="row">
		 			<div class="col-xs-3">Gender:</div>
		 			<div class="col-xs-9">{{ person.gender }}&nbsp</div>
				</div>
		 		<div class="row">
		 			<div class="col-xs-3">Ethnicity:</div>
		 			<div class="col-xs-9">{{ person.ethnicity }}</div>
				</div>
				{% if person.age_status.can_be_pregnant %}
			 		<div class="row">
			 			<div class="col-xs-3">Pregnant (or partner is pregnant):</div>
			 			<div class="col-xs-9">{{ person.pregnant|yesno:'Yes,No' }}</div>
					</div>
			 		<div class="row">
			 			<div class="col-xs-3">Due date:</div>
			 			<div class="col-xs-9">{{ person.due_date }}</div>
					</div>
				{% endif %}
			</div>
		</div>

 		<div class="panel panel-default">
			<div class="panel-heading">
	 				<h4 class="panel-title">
	 					<a href="{% url 'add_relationship' person.pk %}">RELATIONSHIPS</a>
	 				</h4>
 			</div>
	 		<div class="panel-body">
	 			<div class="row">
		 			{% for relationship_to in relationships_to %}
		 				<div class="col-xs-12">
							{{ relationship_to.relationship_type|capfirst }} of
							<a href="{% url 'person' relationship_to.pk %}"> 
								{{ relationship_to }}
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

 		<div class="panel panel-default">
			<div class="panel-heading">
	 				<h4 class="panel-title">
	 					<a href="{% url 'address' person.pk %}">ADDRESS</a>
	 				</h4>
 			</div>
	 		<div class="panel-body">
	 			<div class='row'>
					{% if person.house_name_or_number %}
				 			<div class="col-xs-12">
				 				Address: {{ person.house_name_or_number }} {{ person.street.name }}
				 			</div>
				 			<div class="col-xs-12">Post Code: {{ person.street.post_code.post_code }}</div>
				 			<div class="col-xs-12">Ward: {{ person.street.post_code.ward.ward_name }}</div>
				 			<div class="col-xs-12">Area: {{ person.street.post_code.ward.area.area_name }}</div>
						{% if relationships_to %}
							<div class="col-xs-12">
								<a href="{% url 'address_to_relationships' person.pk %}">
									Apply address to relationships
								</a>
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>

 		<div class="panel panel-default">
			<div class="panel-heading">
	 				<h4 class="panel-title">EVENT REGISTRATIONS</h4>
 			</div>
	 		<div class="panel-body">
	 			<div class="row">
			 		{% for registration in registrations %}
		 				<div class="col-md-12">
		 					<a href="{% url 'event' registration.event.pk %}">{{ registration.event }}</a>:
							{{ registration.registered_status }} and {{ registration.participated_status }} as 
							{{ registration.role_type.role_type_name }}.
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

 		<div class="panel panel-default">
			<div class="panel-heading">
	 				<h4 class="panel-title">
	 					<a href="{% url 'answer_questions' person.pk %}">QUESTIONS</a>
	 				</h4>
 			</div>
	 		<div class="panel-body">
	 			<div class="row">
			 		{% for question in questions %}
			 			{% if question.answer or question.note %}
			 				<div class="col-md-12">
								{{ question }}&nbsp{{ question.answer_text }}
							</div>
						{% endif %}
			 			{% if question.note %}
			 				<div class="col-md-12">
								({{ question.notes_label }}: {{ question.note }})
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

	</div>

</div>


{% endblock %}

