{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-user"></span>
 				{{ person }}
 			</h3>
	 	</div>
	 </div>

	 {% if invitation %}

		 <div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		 </div>

		<div class="row">
	 		<div class='col-xs-1 text-right'>
				<a href="{% url 'review_invitation' invitation.pk %}">
	 				<span class="glyphicon glyphicon-question-sign"></span>
				</a>
	 		</div>
	 		<div class='col-xs-11'>
	 			<div class="row">
		 			Invitation created on {{ invitation.datetime_created|date:"M d Y" }}
		 		</div>
		 		<div class="row">
		 			<strong>Link: </strong>
	 				<a href="{% url 'invitation' invitation.code %}">
	 					{{ invitation_url }}
	 				</a>
		 		</div>
		 		{% for completed_step in invitation.invitation_step_set.all %}
		 			<div class="row">
		 				<span class="glyphicon glyphicon-ok-sign"></span>
		 				{{ completed_step.invitation_step_type.display_name }}
		 				completed on {{ completed_step.datetime_created|date:"M d Y" }}
		 			</div>
		 		{% endfor %}
		 		{% for incomplete_step in invitation.incomplete_steps %}
					<div class="row">
						<span class="glyphicon glyphicon-remove-circle"></span>
						{{ incomplete_step.display_name }}
					</div>
				{% endfor %}
			</div>
		</div>

	{% endif %}

	{% for unvalidated_invitation in unvalidated_invitations %}

		 <div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		 </div>

		<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'review_invitation' unvalidated_invitation.pk %}">
	 				<span class="glyphicon glyphicon-question-sign"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
	 			<div class="row">
	 				<div>
	 					<strong>Not Validated</strong>
	 				</div>
		 			<div>
		 				Invitation created on {{ unvalidated_invitation.datetime_created|date:"M d Y" }}
		 				and completed on {{ unvalidated_invitation.datetime_completed|date:"M d Y" }}
		 			</div>
		 		</div>
		 		{% for completed_invitation_step in unvalidated_invitation.invitation_step_set.all %}
		 			<div class="row">
		 				<span class="glyphicon glyphicon-ok-sign"></span>
		 				{{ completed_invitation_step.invitation_step_type.display_name }}
		 				completed on {{ completed_invitation_step.datetime_created|date:"M d Y" }}
		 			</div>
		 		{% endfor %}
			</div>
		</div>

	{% endfor %}

	 <div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'profile' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class='col-xs-11'>
			<div class="row">
	 			<strong>Age status: </strong>{{ person.age_description }}
			 </div>
	 		<div class="row">
	 			<strong>Project status: </strong>{{ person.project_description }}
			</div>
	 		{% if person.pregnant %}
				<div class="row">
	 				<strong>Pregnancy status: </strong>{{ person.pregnancy_description }}&nbsp
	 			</div>
			{% endif %}
			<div class="row">
				<strong>Ethnicity: </strong>{{ person.ethnicity }}&nbsp
	 		</div>
	 		<div class="row">
				<strong>Gender: </strong>{{ person.gender }}&nbsp
	 		</div>
	 		<div class="row">
				<strong>Role: </strong>{{ person.default_role.role_type_name }}&nbsp
			 </div>
			 {% if person.get_children_ages_desc %}
				<div class="row">
					<strong>Children ages: </strong>
						{{ person.get_children_ages_desc }}
				</div>
			{% endif %}
	 		{% if person.ABSS_type.membership_number_required %}
	 			<div class="row">
		 			<strong>Membership number: </strong>
		 				{% if person.membership_number %}
		 					{{ person.membership_number }}
		 				{% else %}
		 					Number not allocated
		 				{% endif %}
		 		</div>
		 	{% endif %}
		</div>
	</div>

	{% if person.trained_role_set.exists %}
		<div class="row">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class='col-xs-1 text-right'>
					<span class="glyphicon glyphicon-education"></span>
				</a>
			</div>
			<div class="col-xs-11">
				{% for trained_role in person.trained_role_set.all %}
					<div class="row">
						<strong>{{ trained_role.role_type.role_type_name }}: </strong>{{ trained_role.status_description }}
						{% if trained_role.date_trained %}
							- trained on {{ trained_role.date_trained|date:"M d Y" }}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	{% if memberships %}
		<div class="row">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class='col-xs-1 text-right'>
					<span class="glyphicon glyphicon-book"></span>
				</a>
			</div>
			<div class="col-xs-11">
				{% for membership in memberships %}
					<div class="row">
						{{ membership.membership_type.name }} in {{ membership.project.name }}
						{% if membership.date_joined %}
							from {{ membership.date_joined }}
						{% endif %}
						{% if membership.date_left %}
							to {{ membership.date_left }}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	
	{% if person.age_status.can_have_contact_details %}

		<div class="row">
			<div class="col-xs-12">
					<hr>
		 	</div>
		 </div>

	 	<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-pencil"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
				<div class="row">
	 				<span class="glyphicon glyphicon-envelope"></span>
	 				<strong>Email address: </strong>{{ person.email_address }}&nbsp
	 			</div>
				<div class="row">
	 				<span class="glyphicon glyphicon-phone-alt"></span>
	 				<strong>Home phone: </strong>{{ person.home_phone }}&nbsp
	 			</div>
				<div class="row">
	 				<span class="glyphicon glyphicon-phone"></span>
	 				<strong>Mobile phone: </strong>{{ person.mobile_phone }}&nbsp
	 			</div>
		 	</div>
		 </div>

	{% endif %}

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	</div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'address' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		{% if person.house_name_or_number %}
					<div><strong>Address: </strong>{{ person.house_name_or_number }} {{ person.street.name }}</div>
					<div><strong>Post Code: </strong>{{ person.street.post_code.post_code }}</div>
					<div><strong>Ward: </strong>{{ person.street.post_code.ward.ward_name }}</div>
					<div><strong>Area: </strong>{{ person.street.post_code.ward.area.area_name }}</div>
					<div>
						<a href="{% url 'address_to_relationships' person.pk %}">Apply address to relationships</a>
					</div>
				{% else %}
					<div><strong>No address</strong></div>
				{% endif %}
			</div>
		</div>
	 </div>

	{% if person.notes %}

		<div class="row">
			<div class="col-xs-12">
					<hr>
		 	</div>
		 </div>

	 	<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-pencil"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
				<div class="row">
					<span class="glyphicon glyphicon-list"></span>
	 				<strong>Notes: </strong>
	 				<div>{{ person.notes|linebreaks }}</div>
	 			</div>
		 	</div>
		 </div>
		 
	{% endif %}

	{% if person.emergency_contact_details %}

		<div class="row">
			<div class="col-xs-12">
					<hr>
		 	</div>
		 </div>

	 	<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-pencil"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
				<div class="row">
					<span class="glyphicon glyphicon-alert"></span>
	 				<strong>Emergency contact details: </strong>
	 				<div>{{ person.emergency_contact_details|linebreaks }}</div>
	 			</div>
		 	</div>
		 </div>
		 
	{% endif %}

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'add_relationship' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
				{% if person.relationships_from %}
					{% for rel_from in person.relationships_from %}
						<div>
							{{ rel_from.relationship_type|capfirst }} of
								<a href="{% url 'person' rel_from.relationship_to.pk %}"> 
									{{ rel_from.relationship_to }}
								</a>
								({{ rel_from.relationship_to.age_status.status }})
						</div>
					{% endfor %}
				{% else %}
					<div><strong>No relationships</strong></div>
				{% endif %}
			</div>
		</div>
	 </div>

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'answer_questions' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		{% if answer_flag %}
				 	{% for question_section in question_sections %}
					 	{% if question_section.answers %}
							<div>
								<strong>{{ question_section.name }}:</strong>
							</div>
							{% for question in question_section.questions %}
								{% if question.answer or question.note %}
									<div>
										{{ question }}&nbsp
										{% if question.multiples %}
											<span class="text-danger">ERROR - multiple answers: </span>
										{% endif %}
										<em>{{ question.answer_text }}</em>
									</div>
								{% endif %}
								{% if question.note %}
									<div>
										&nbsp;-&nbsp;{{ question.notes_label }}: <em>{{ question.note }}</em>
									</div>
								{% endif %}
							{% endfor %}
							<div class="row">
								<div class="col-xs-12">
									&nbsp;
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<div><strong>No questions answered</strong></div>
				{% endif %}
			</div>
		</div>
	 </div>

	{% for completed_invitation in completed_invitations %}

		 <div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		 </div>

		<div class="row">
	 		<div class='col-xs-1 text-right'>
				<a href="{% url 'review_invitation' completed_invitation.pk %}">
	 				<span class="glyphicon glyphicon-question-sign"></span>
				</a>
	 		</div>
	 		<div class='col-xs-11'>
	 			<div class="row">
		 			<div>
		 				Invitation created on {{ completed_invitation.datetime_created|date:"M d Y" }}
		 				and completed on {{ completed_invitation.datetime_completed|date:"M d Y" }}
		 			</div>
		 		</div>
		 		{% for completed_invitation_step in completed_invitation.invitation_step_set.all %}
		 			<div class="row">
		 				<span class="glyphicon glyphicon-ok-sign"></span>
		 				{{ completed_invitation_step.invitation_step_type.display_name }}
		 				completed on {{ completed_invitation_step.datetime_created|date:"M d Y" }}
		 			</div>
		 		{% endfor %}
			</div>
		</div>

	{% endfor %}

	<div class="row">
		<div class="col-xs-12">
			<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'events' %}">
 				<span class="glyphicon glyphicon-calendar"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
				<div><strong>Registered:</strong> {{ person.registered_count }}</div>
				<div><strong>Apologies:</strong> {{ person.apologies_count }}</div>
				<div><strong>Participated:</strong> {{ person.participated_count }}</div>
				<div><strong>Time Participated:</strong> {{ person.participated_time }}</div>
			</div>
			<div class="row">
				<hr>
			 </div>
 			<div class="row">
		 		{% if registrations %}
		 			{% for registration in registrations %}
		 				<div>
		 					<a href="{% url 'event' registration.event.pk %}">{{ registration.event.name }}</a>
		 					on {{ registration.event.date }}:
							{{ registration.description }} as 
							{{ registration.role_type.role_type_name }}.
						</div>
					{% endfor %}
				{% else %}
					<div><strong>No event registrations</strong></div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'activities' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
				{% for activity_type in person.activity_types_with_hours %}
					{% if activity_type.hours %}
						<div><strong>{{ activity_type.name }}:</strong> {{ activity_type.hours }} hours</div>
					{% endif %}
				{% endfor %}
				<div><strong>Time for Activities:</strong> {{ person.activity_hours }}</div>
			</div>
			<div class="row">
				<hr>
			</div>
 			<div class="row">
		 		{% if activities %}
		 			{% for activity in activities %}
		 				<div>
		 					{{ activity }}
						</div>
					{% endfor %}
				{% else %}
					<div><strong>No activities</strong></div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	</div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'add_case_notes' person.pk %}">
 				<span class="glyphicon glyphicon-plus"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
			<div class = "row">
				<strong>Add new case note</strong>
			</div>
		</div>
	</div>
	{% if case_notes %}
		<div class="row">
			<div class='col-xs-1 text-right'>
				<a href="{% url 'view_case_notes' person.pk %}">
					<span class="glyphicon glyphicon-eye-open"></span>
				</a>
			</div>
			<div class="col-xs-11">
				<div class = "row">
					<strong>View all case notes</strong>
				</div>
				<div class = "row">&nbsp;</div>
			</div>
		</div>
		{% for case_note in case_notes %}
			<div class="row">
				<div class='col-xs-1 text-right'>
					{% if request.user.is_superuser or request.user == case_note.user %}
						<a href="{% url 'edit_case_notes' case_note.pk %}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					{% endif %}
				</div>
				<div class="col-xs-11">
					<div class="row">
						<div>
							{% if case_note.user.first_name or case_note.user.last_name %}
								<strong>{{ case_note.date|date:"M d Y" }} 
									- created by {{ case_note.user.first_name }} {{ case_note.user.last_name }}</strong>
							{% else %}
								<strong>{{ case_note.date|date:"M d Y" }} - created by {{ case_note.user.username }}</strong>
							{% endif %}
							{% if not project and case_note.project %}
								<strong> in {{ case_note.project.name }}</strong>
							{% endif %}
							<strong>: </strong>{{ case_note.title }}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	</div>

	{% if surveys %}

		<div class="row">
			<div class='col-xs-1 text-right'>
				<span class="glyphicon glyphicon-list-alt"></span>
			</div>
			<div class="col-xs-11">
				<div class="row">
					{% for survey in surveys %}
						<div>
							{% if survey.has_questions %}
								<a href="{% url 'submit_survey' person.pk survey.pk %}">{{ survey }}</a>
								{% if survey.survey_submission %}
									submitted on {{ survey.survey_submission.date }}
								{% else %}
									- not submitted
								{% endif %}
							{% else %}
								{{ survey }} has no questions yet
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
					<hr>
			</div>
		</div>

	{% endif %}

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			&nbsp
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		<div><strong>Created: </strong>{{ person.datetime_created }}</div>
		 		<div><strong>Updated: </strong>{{ person.datetime_updated }}</div>
			</div>
		</div>
	 </div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>


</div>


{% endblock %}

