{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-user"></span>
 				{{ person }}
 			</h3>
	 	</div>
	 </div>

	 {% if invitation %}

		 <div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		 </div>

		<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<span class="glyphicon glyphicon-question-sign"></span>
	 		</div>
	 		<div class='col-xs-11'>
	 			<div class="row">
		 			Invitation created on {{ invitation.datetime_created|date:"M d Y" }}
		 		</div>
		 		<div class="row">
		 			<strong>Link: </strong>
	 				<a href="{% url 'invitation' invitation.code %}">
	 					{{ invitation_url }}
	 				</a>
		 		</div>
		 		{% for completed_step in invitation.completed_steps %}
		 			<div class="row">
		 				<span class="glyphicon glyphicon-ok-sign"></span>
		 				{{ completed_step.invitation_step_type.display_name }}
		 				completed on {{ completed_step.datetime_created|date:"M d Y" }}
		 			</div>
		 		{% endfor %}
		 		{% for incomplete_step in invitation.incomplete_steps %}
					<div class="row">
						<span class="glyphicon glyphicon-remove-circle"></span>
						{{ incomplete_step.display_name }}
					</div>
				{% endfor %}
			</div>
		</div>

	{% endif %}

	{% for unvalidated_invitation in unvalidated_invitations %}

		 <div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		 </div>

		<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-question-sign"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
	 			<div class="row">
	 				<div>
	 					<strong>Not Validated</strong>
	 				</div>
		 			<div>
		 				Invitation created on {{ unvalidated_invitation.datetime_created|date:"M d Y" }}
		 				and completed on {{ unvalidated_invitation.datetime_completed|date:"M d Y" }}
		 			</div>
		 		</div>
		 		{% for completed_invitation_step in unvalidated_invitation.invitation_step_set.all %}
		 			<div class="row">
		 				<span class="glyphicon glyphicon-ok-sign"></span>
		 				{{ completed_invitation_step.invitation_step_type.display_name }}
		 				completed on {{ completed_invitation_step.datetime_created|date:"M d Y" }}
		 			</div>
		 		{% endfor %}
			</div>
		</div>

	{% endfor %}

	 <div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'profile' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class='col-xs-11'>
			<div class="row">
	 			<strong>Age status: </strong>{{ person.age_description }}
	 		</div>
	 		<div class="row">
	 			<strong>Project status: </strong>{{ person.project_description }}
	 		</div>
	 		{% if person.pregnant %}
				<div class="row">
	 				<strong>Pregnancy status: </strong>{{ person.pregnancy_description }}&nbsp
	 			</div>
			{% endif %}
			<div class="row">
				<strong>Ethnicity: </strong>{{ person.ethnicity }}&nbsp
	 		</div>
	 		<div class="row">
				<strong>Gender: </strong>{{ person.gender }}&nbsp
	 		</div>
	 		<div class="row">
				<strong>Role: </strong>{{ person.default_role.role_type_name }}&nbsp
	 		</div>
	 		{% if person.ABSS_type.membership_number_required %}
	 			<div class="row">
		 			<strong>Membership number: </strong>
		 				{% if person.membership_number %}
		 					{{ person.membership_number }}
		 				{% else %}
		 					Number not allocated
		 				{% endif %}
		 		</div>
		 	{% endif %}
	 		{% for trained_role in person.trained_role_set.all %}
		 		<div class="row">
		 			<strong>{{ trained_role.role_type.role_type_name }}: </strong>{{ trained_role.status_description }}
				</div>
			{% endfor %}
		</div>
	</div>
	
	{% if person.age_status.can_have_contact_details %}

		<div class="row">
			<div class="col-xs-12">
					<hr>
		 	</div>
		 </div>

	 	<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-pencil"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
				<div class="row">
	 				<span class="glyphicon glyphicon-envelope"></span>
	 				<strong>Email address: </strong>{{ person.email_address }}&nbsp
	 			</div>
				<div class="row">
	 				<span class="glyphicon glyphicon-phone-alt"></span>
	 				<strong>Home phone: </strong>{{ person.home_phone }}&nbsp
	 			</div>
				<div class="row">
	 				<span class="glyphicon glyphicon-phone"></span>
	 				<strong>Mobile phone: </strong>{{ person.mobile_phone }}&nbsp
	 			</div>
		 	</div>
		 </div>

	{% endif %}

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	</div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'address' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		{% if person.house_name_or_number %}
					<div><strong>Address: </strong>{{ person.house_name_or_number }} {{ person.street.name }}</div>
					<div><strong>Post Code: </strong>{{ person.street.post_code.post_code }}</div>
					<div><strong>Ward: </strong>{{ person.street.post_code.ward.ward_name }}</div>
					<div><strong>Area: </strong>{{ person.street.post_code.ward.area.area_name }}</div>
					<div>
						<a href="{% url 'address_to_relationships' person.pk %}">Apply address to relationships</a>
					</div>
				{% else %}
					<div><strong>No address</strong></div>
				{% endif %}
			</div>
		</div>
	 </div>

	{% if person.notes %}

		<div class="row">
			<div class="col-xs-12">
					<hr>
		 	</div>
		 </div>

	 	<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-pencil"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
				<div class="row">
					<span class="glyphicon glyphicon-list"></span>
	 				<strong>Notes: </strong>
	 				<div>{{ person.notes|linebreaks }}</div>
	 			</div>
		 	</div>
		 </div>
		 
	{% endif %}

	{% if person.emergency_contact_details %}

		<div class="row">
			<div class="col-xs-12">
					<hr>
		 	</div>
		 </div>

	 	<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<a href="{% url 'profile' person.pk %}">
	 				<span class="glyphicon glyphicon-pencil"></span>
	 			</a>
	 		</div>
	 		<div class='col-xs-11'>
				<div class="row">
					<span class="glyphicon glyphicon-alert"></span>
	 				<strong>Emergency contact details: </strong>
	 				<div>{{ person.emergency_contact_details|linebreaks }}</div>
	 			</div>
		 	</div>
		 </div>
		 
	{% endif %}

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'add_relationship' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		{% if relationships_to %}
					{% for relationship_to in relationships_to %}
		 				<div>
							{{ relationship_to.relationship_type|capfirst }} of
							<a href="{% url 'person' relationship_to.pk %}"> 
								{{ relationship_to }}
							</a>
						</div>
					{% endfor %}
				{% else %}
					<div><strong>No relationships</strong></div>
				{% endif %}
			</div>
		</div>
	 </div>

	 <div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'answer_questions' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		{% if answer_flag %}
		 			{% for question in questions %}
			 			{% if question.answer or question.note %}
			 				<div>
								<strong>Question: </strong>{{ question }}&nbsp{{ question.answer_text }}
							</div>
						{% endif %}
			 			{% if question.note %}
			 				<div>
								<strong>{{ question.notes_label }}: </strong>{{ question.note }}
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<div><strong>No questions answered</strong></div>
				{% endif %}
			</div>
		</div>
	 </div>

	{% for completed_invitation in completed_invitations %}

		 <div class="row">
			<div class="col-xs-12">
	 			<hr>
		 	</div>
		 </div>

		<div class="row">
	 		<div class='col-xs-1 text-right'>
	 			<span class="glyphicon glyphicon-question-sign"></span>
	 		</div>
	 		<div class='col-xs-11'>
	 			<div class="row">
		 			<div>
		 				Invitation created on {{ completed_invitation.datetime_created|date:"M d Y" }}
		 				and completed on {{ completed_invitation.datetime_completed|date:"M d Y" }}
		 			</div>
		 		</div>
		 		{% for completed_invitation_step in completed_invitation.invitation_step_set.all %}
		 			<div class="row">
		 				<span class="glyphicon glyphicon-ok-sign"></span>
		 				{{ completed_invitation_step.invitation_step_type.display_name }}
		 				completed on {{ completed_invitation_step.datetime_created|date:"M d Y" }}
		 			</div>
		 		{% endfor %}
			</div>
		</div>

	{% endfor %}

	<div class="row">
		<div class="col-xs-12">
			<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'events' %}">
 				<span class="glyphicon glyphicon-calendar"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
				<div><strong>Registered:</strong> {{ person.registered_count }}</div>
				<div><strong>Apologies:</strong> {{ person.apologies_count }}</div>
				<div><strong>Participated:</strong> {{ person.participated_count }}</div>
				<div><strong>Time Participated:</strong> {{ person.participated_time }}</div>
			</div>
			<div class="row">
				<hr>
			 </div>
 			<div class="row">
		 		{% if registrations %}
		 			{% for registration in registrations %}
		 				<div>
		 					<a href="{% url 'event' registration.event.pk %}">{{ registration.event.name }}</a>
		 					on {{ registration.event.date }}:
							{{ registration.description }} as 
							{{ registration.role_type.role_type_name }}.
						</div>
					{% endfor %}
				{% else %}
					<div><strong>No event registrations</strong></div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

	<div class="row">
 		<div class='col-xs-1 text-right'>
 			<a href="{% url 'activities' person.pk %}">
 				<span class="glyphicon glyphicon-pencil"></span>
 			</a>
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
				{% for activity_type in person.activity_types_with_hours %}
					{% if activity_type.hours %}
						<div><strong>{{ activity_type.name }}:</strong> {{ activity_type.hours }} hours</div>
					{% endif %}
				{% endfor %}
				<div><strong>Time for Activities:</strong> {{ person.activity_hours }}</div>
			</div>
			<div class="row">
				<hr>
			</div>
 			<div class="row">
		 		{% if activities %}
		 			{% for activity in activities %}
		 				<div>
		 					{{ activity }}
						</div>
					{% endfor %}
				{% else %}
					<div><strong>No activities</strong></div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
				<hr>
	 	</div>
	 </div>

 	<div class="row">
 		<div class='col-xs-1 text-right'>
 			&nbsp
 		</div>
 		<div class="col-xs-11">
 			<div class="row">
		 		<div><strong>Created: </strong>{{ person.datetime_created }}</div>
		 		<div><strong>Updated: </strong>{{ person.datetime_updated }}</div>
			</div>
		</div>
	 </div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>


</div>


{% endblock %}

