{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

	<div class="row">
		<div class="col-xs-12">
 			<h3>
 				<span class="glyphicon glyphicon-user"></span>
 				<span class="glyphicon glyphicon-pencil"></span>
 				<a href="{% url 'person' person.pk %}">{{ person }}</a>
 			</h3>
	 	</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

	<form action ="{% url 'profile' person.pk %}" method="post">
	{% csrf_token %}					
		<div class="form-row">
			<div class="form-group col-md-4 mb-0">
				{{ profileform.first_name|as_crispy_field }}
			</div>
			<div class="form-group col-md-4 mb-0">
				{{ profileform.last_name|as_crispy_field }}
			</div>
			<div class="form-group col-md-4 mb-0">
				{{ profileform.other_names|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4 mb-0">
				{{ profileform.email_address|as_crispy_field }}
			</div>
			<div class="form-group col-md-4 mb-0">
				{{ profileform.home_phone|as_crispy_field }}
			</div>
			<div class="form-group col-md-4 mb-0">
				{{ profileform.mobile_phone|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-12 mb-0">
				{{ profileform.emergency_contact_details|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-3 mb-0">
				{{ profileform.ABSS_type|as_crispy_field }}
			</div>
			<div class="form-group col-md-3 mb-0">
				{{ profileform.ABSS_start_date|as_crispy_field }}
			</div>
			<div class="form-group col-md-3 mb-0">
				{{ profileform.ABSS_end_date|as_crispy_field }}
			</div>
			<div class="form-group col-md-3 mb-0">
				{{ profileform.membership_number|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-3 mb-0">
				{{ profileform.age_status|as_crispy_field }}
			</div>
			<div class="form-group col-md-3 mb-0">
				{{ profileform.date_of_birth|as_crispy_field }}
			</div>
			<div class="form-group col-md-3 mb-0">
				{{ profileform.ethnicity|as_crispy_field }}
			</div>
			<div class="form-group col-md-3 mb-0">
				{{ profileform.gender|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-3 mb-0">
				{{ profileform.pregnant|as_crispy_field }}
			</div>
			<div class="form-group col-md-9 mb-0">
				{{ profileform.due_date|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-3 mb-0">
				{{ profileform.role_type|as_crispy_field }}
			</div>
			{% for field in profileform %}
				{% if 'trained_role' in field.label_tag %}
					<div class="form-group col-md-3 mb-0">
						{{ field|as_crispy_field }}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="form-row">
			<div class="form-group col-md-12 mb-0">
				{{ profileform.notes|as_crispy_field }}
			</div>
		</div>
		<div class = "form-actions">
			<input type="submit" name="action" class="btn btn-primary" value="Submit">
			{% if request.user.is_superuser and not person.has_open_invitation and site.invitations_active %}
				<input type="submit" name="action" class="btn btn-primary" value="Submit and Generate Invitation">
			{% endif %}
		</div>
	</form>

	<div class="row">
		<div class="col-xs-12">
 			<hr>
	 	</div>
	</div>

</div>

{% endblock %}

