{% extends "people/base.html" %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

 	<div class="row">
 		<div class="col-md-12">
	 		<div class="panel panel-primary">
	 			<div class="panel-heading">
	 				<h4 class="panel-title">Edit Profile</h4>
	 			</div>
		 		<div class="panel-body">
					<form action ="{% url 'profile' person.pk %}" method="post">
						{% csrf_token %}
						{% for field in profileform %}
							{% if field.is_hidden %}
								{{ field }}
							{% else %}
								<div class = "row form-group">
									<div class = "col-md-2">{{ field.label_tag }}</b></div>
									<div class = "col-md-7">{{ field }}</div>
									<div class = "col-md-3 text-danger">{{ field.errors }}</div>
								</div>
							{% endif %}
						{% endfor %}
						<div class = "row">
	 						<div class = "col-xs-2">
	 							<input type="submit" value="Submit">
	 						</div>
	 					</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}

