{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
{% block title %}Better Start{% endblock %}

{% block content %}

 <div class="container">

 	<div class="row">
 		<div class="col-xs-3"></div>
 		<div class="col-xs-6">

			<div class="row">
		 		<div class="col-xs-12">
		 			<h4>
			 			<span class="glyphicon glyphicon-lock"></span>
			 			Reset Password
		 			<h4>
				</div>
			</div>

			{% if reset %}

				<div class="form-row">
			 		<div class="col-xs-12">
			 			<div>Your password has been reset.</div>
			 			<div><a href = "{% url 'index' %}">Click here</a> to login using your new password.</div>
					</div>
				</div>

			{% else %}

				<div class="form-row">
			 		<div class="col-xs-12">
			 			{% crispy resetpasswordform %}
					</div>
				</div>

			{% endif %}

 		</div>
 		<div class="col-xs-3"></div>

</div>

{% endblock %}

