{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

    <div class="row">
		<div class="col-xs-12">
			<div>
				<h3>
					<span class="glyphicon glyphicon-list-alt"></span>
                    <a href="{% url 'survey' survey.survey_series.pk survey.pk %}">
					    {{ survey.name }}
                    </a>
                    <a href="{% url 'survey_section' survey.pk survey_section.pk %}">
					    {{ survey_section.name }}
                    </a>
				<h3>
			</div>
	   </div>
    </div>

	<div class="row">
		<div class="col-xs-12">
			<div>
				<h4>
					<span class="glyphicon glyphicon-question-sign"></span>
					{% if action_desc == 'Add' %}
						<span class="glyphicon glyphicon-plus"></span>
					{% else %}
						<span class="glyphicon glyphicon-pencil"></span>
					{% endif %}
					{{ action_desc }} Question:
				<h4>
			</div>
	   </div>
    </div>

	<div class="row">
 		<div class="col-md-12">
			{% crispy surveyquestionform %}
		</div>
	</div>

    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>

</div>

{% endblock %}

