{% extends "people/base.html" %}

{% load crispy_forms_tags %}

<!-- Home page -->
 
 {% block title %}Better Start{% endblock %}

 {% block content %}

<div class="container">

    <div class="row">
		<div class="col-xs-12">
			<div>
				<h3>
					<span class="glyphicon glyphicon-list"></span>
                    <a href="{% url 'survey_series' survey_series.pk %}">
					    {{ survey_series.name }}
                    </a>
				<h3>
			</div>
	   </div>
    </div>

	<div class="row">
		<div class="col-xs-12">
			<div>
				<h4>
					<span class="glyphicon glyphicon-list-alt"></span>
					{% if action_desc == 'Add' %}
						<span class="glyphicon glyphicon-plus"></span>
					{% else %}
						<span class="glyphicon glyphicon-pencil"></span>
					{% endif %}
					{{ action_desc }} Survey:
				<h4>
			</div>
	   </div>
   </div>

	<div class="row">
 		<div class="col-md-12">
			{% crispy surveyform %}
		</div>
	</div>

	<div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>

	{% if survey %}

		<div class="form-row">
			{% for survey_section in survey.survey_section_set.all %}
				<div class="col-xs-12">
					<a href="{% url 'survey_section' survey.pk survey_section.pk %}">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					{{ survey_section.order }}: {{ survey_section.name }}
				</div>
			{% endfor %}
		</div>

		<div class="form-row">
			<div class="col-xs-12">
				<a href="{% url 'survey_section' survey.pk %}">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
				Create new section
			</div>
		</div>

	{% endif %}

</div>

{% endblock %}

