
.select-fixed-width {
	width: 150px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.person-page-button {
	width: 100px;
}

.events-page-button {
	width: 180px;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}