{% extends "volunteering/base.html" %}

<!-- Login page -->
 
 {% block title %}Interview{% endblock %}

 {% block content %}

<!-- script to set up the modal for each addition -->
<script type="text/javascript">
$(document).ready(function() {
	$(".modal-trigger").click(function() {
		var button = $(this);
		var title = "Add " + button.data('opportunity-title') + " to the interview"
		var id = button.data('id');
		$('#submitModal').find('.modal-title').text(title);
		$('#opportunity_id').val(id);
		$('#modal_keyword').val($('#form_keyword').val())
		$('#submitModal').modal('show');
	});
	$("#modal_submit_button").click(function() {
		$("#modal_form_submit").click();
	})
});
</script>

  <!-- Modal -->
<div id="submitModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Modal Title</h4>
      	</div>
		<div class="modal-body">
			<form action="{% url 'add_opps_to_interview' interview.pk %}" method="post">
				{% csrf_token %}
				<label for="comments">Comments:</label>
				<textarea name="comments" class="form-control" maxlength="1000" required id="comments"></textarea>
				<input type="submit" name="action" value="add" id="modal_form_submit" style="display:none">
				<input type="hidden" name="opportunity_id" id="opportunity_id" value="default_value">
				<input type="hidden" name="keyword" id="modal_keyword" value="{{ keyword }}">
			</form>
		</div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" id="modal_submit_button">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


 <div class="container">
 	<div class="row">
 		<div class="col-xs-12">
	 		<div class="panel panel-primary">
	 			<div class="panel-heading panel-heading-savs-pink">
		 			<h4 class="panel-title">Interview for {{ interview.volunteer.user.first_name }} {{ interview.volunteer.user.last_name }} by {{ interview.interviewer.user.first_name }} {{ interview.interviewer.user.last_name }} on {{ interview.date_time.date }} at {{ interview.date_time.time }}</h4>
	 			</div>
		 		<div class="panel-body panel-body-light-pink">
		 			<div class="col-xs-12"><strong>Notes:</strong></div>
		 			<div class="col-xs-12"> {{ interview.notes|linebreaks }}</div>
					<div class="col-xs-7">
						<strong>Opportunities Volunteer is Interested In</strong>
						{% if potential_opportunities %}
							{% for potential_opportunity in potential_opportunities %}
								<div class="top-buffer-5">
									<input type="button" value="Add" class="btn modal-trigger btn-sm" data-id="{{ potential_opportunity.pk }}" data-opportunity-title="{{ potential_opportunity.title }}">
									{{ potential_opportunity.title }} - {{ potential_opportunity.organisation.name }} - {{ potential_opportunity.latest_action.opportunity_action_type.display_name }} on {{ potential_opportunity.latest_action.date_time_from.date }}
								</div>
							{% endfor %}
						{% else %}
							No more opportunities for this volunteer.
						{% endif %}
						<br><strong>Search for More Opportunities</strong>
						<form action="{% url 'add_opps_to_interview' interview.pk %}" method="post" class="form-inline">
							{% csrf_token %}
							<input type="text" name="keyword" id="form_keyword" class="form-control" placeholder="Search" maxlength="30" value="{{ keyword }}">
							<input type="submit" class="btn" name="action" value="Search" id="modal_form_submit">
						</form>
						{% if search_opportunities %}
							{% for search_opportunity in search_opportunities %}
								<div class="top-buffer-5">
									<input type="button" value="Add" class="btn modal-trigger btn-sm" data-id="{{ search_opportunity.pk }}" data-opportunity-title="{{ search_opportunity.title }}">
									{{ search_opportunity.title }} - {{ search_opportunity.organisation.name }}
								</div>
							{% endfor %}
						{% else %}
							No search results.
						{% endif %}
					</div>
					<div class="col-xs-5">
						<strong>Opportunities Discussed in Interview</strong><br>
						{% for discussed_opportunity in discussed_opportunities %}
							{{ discussed_opportunity.title }} - {{ discussed_opportunity.organisation.name }}<br>
						{% endfor %}
					</div>
				</div>
				<div class="panel-footer panel-footer-mid-pink">
					<a href='{% url "interview" interview.pk %}' class="btn btn-default" role="button">View Interview</a>
					<a href='{% url "edit_interview_notes" interview.pk %}' class="btn btn-default" role="button">Edit Notes</a>
				</div>
			</div>
		</div>
	</div>
</div>

 {% endblock %}

