{% extends "volunteering/base.html" %}

<!-- Home page -->
 
{% block title %}SAVS Volunteering{% endblock %}

{% block content %}

	<div class="container">

		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<div class="panel panel-primary">
					<div class = "panel-heading panel-heading-savs-pink panel-title">
						Your Actions and Messages
					</div>
					<div class = "panel-body panel-body-light-pink">
						{% if actions %}
							{% for action in actions %}
				 				<strong><a href = "{% url 'opportunity' action.opportunity.pk %}">{{ action.opportunity.title }}</a>: {{ action.opportunity_action_type }} on {{ action.date_time_from }}</strong><br>
				 				{% if action.comments and action.opportunity_action_type.comments_shown %}
				 					<div>From 
				 						{% if action.opportunity_action_type.message_from == "volunteer" %}
				 							you:
				 						{% elif action.opportunity_action_type.message_from == "volunteer_centre" %}
				 							{{ action.opportunity.organisation.volunteer_centre.name }}:
				 						{% elif action.opportunity_action_type.message_from == "organisation" %}
				 							{{ action.opportunity.organisation.name }}:
				 						{% endif %}
					 				<em>{{ action.comments }}</em></div><br>
					 			{% else %}
					 				<br>
					 			{% endif %}
							{% endfor %}
						{% else %}
							<h4>You have no actions or messages.</h4>
						{% endif %}
					</div>
				</div>
			</div>	
			<div class="col-sm-4 col-xs-12">
				{% if opportunities %}
				 	 	<div class="row display-flex">
							{% for opportunity in opportunities %}
								<div class="col-md-12">
									<div class = "panel {{ opportunity.css_class }}">
										<div class = "panel-heading panel-heading-savs-pink panel-title">
											<a href = "{% url 'opportunity' opportunity.pk %}">{{ opportunity.title }}</a>
										</div>
										<div class = "panel-body panel-body-light-pink oppsum">
											<p>{{ opportunity.short_desc }}</p>
											<p>{{ opportunity.description|truncatechars:140 }}</p>
											<span class="glyphicon glyphicon-home"></span>&nbsp; {{ opportunity.organisation.name }}<br>
											<span class="glyphicon glyphicon-calendar"></span>&nbsp; From {{ opportunity.start_date }} to {{opportunity.end_date }}<br>
											{% if user_role.is_vc_staff or user_role.is_org_staff %}
												<span class="glyphicon glyphicon-bullhorn"></span>&nbsp; From {{ opportunity.active_date }} to {{opportunity.expiry_date }}<br>
												{% if opportunity.promotion_number %}
													<span class="glyphicon glyphicon-star"></span>&nbsp; Promotion number {{ opportunity.promotion_number }}<br>
												{% endif %}
											{% endif %}
											<span class="glyphicon glyphicon-time"></span>&nbsp; {{ opportunity.timing|truncatechars:30 }}<br>
											<span class="glyphicon glyphicon-map-marker"></span>&nbsp; {{ opportunity.location|truncatechars:30 }}<br>
										</div>
										{% if volunteer_centre or organisation or user_name %}
											<div class="panel-footer panel-footer-mid-pink oppsum-footer">
												{{ opportunity.status_description|capfirst }}
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
				 	{% if page_list %}
				 		<div class="container">
							<div class="row">
								<div class="col-md-12">
									{% for target_page in page_list %}
										<a href='{% url "dashboard" target_page %}' class="btn btn-default" role="button">{{ target_page }}</a>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h4>You have not saved any opportunities</h4>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

	</div>

{% endblock %}