{% extends "volunteering/base.html" %}

<!-- Login page -->
 
 {% block title %}Edit Inteview Notes{% endblock %}

 {% block content %}

 <div class="container">
 	<div class="row">
 		<div class="col-xs-12">
	 		<div class="panel panel-primary">
	 			<div class="panel-heading panel-heading-savs-pink">
	 				<h4 class="panel-title">Edit Interview Notes for {{ interview.volunteer.user.first_name }} {{ interview.volunteer.user.last_name }}</h4>
	 			</div>
		 		<div class="panel-body panel-body-light-pink">
		 			<div class="row">
		 				<div class="col-xs-2">
		 					<strong>Interviewer: </strong>
		 				</div>
		 				<div class="col-xs-10">
		 					{{ interview.interviewer.user.first_name }} {{ interview.interviewer.user.last_name }}
		 				</div>
		 			</div>
		 			<div class="row">
		 				<div class="col-xs-2">
		 					<strong>Date and time: </strong>
		 				</div>
		 				<div class="col-xs-10">
		 					{{ interview.date_time }}
		 				</div>
		 			</div>
		 			<div>
						<form action ="{% url 'edit_interview_notes' interview.pk %}" method="post">
							{% csrf_token %}
							{% for field in edit_interview_form %}
								<div class="row">
									<div class = "col-xs-2">{{ field.label_tag }}</div>
									<div class = "col-xs-6">{{ field }}</div>
									<div class = "col-xs-4 text-danger">{{ field.errors }}</div>
								</div>
							{% endfor %}
							<div class="row">
							 	<div class = "col-xs-2">
							 		<input type="submit" value="Submit" class="btn"><div>
							 	</div>
							 </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

 {% endblock %}

