{% extends "volunteering/base.html" %}

<!-- Registration page for new users -->
 
{% block title %}Manage Opportunity{% endblock %}

{% block content %}

<!-- script to deal with modal submission button-->
<script type="text/javascript">
$(document).ready(function() {
	$("#modal_submit_button").click(function() {
		$("#submit").click();
	})
});
</script>

<!-- Modal -->
<div id="submitModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Submission</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to submit the opportunity?</p>
        <p>You will not be able to make further changes until the opportunity has been reviewed by SAVS.</p>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" id="modal_submit_button">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>


<div class = "container">
	 <div class="panel panel-primary">
		<div class="panel-heading panel-heading-savs-pink">
			{% if opportunity_id %}
				<h4 class="panel-title">{{ opportunity.title }} - Status: {{ status_display|upper }}</h4>
			{% else %}
				<h4 class="panel-title">New Opportunity</h4>
			{% endif %}
		</div>
		<div class="panel-body panel-body-light-pink">
			{% if opportunity_id %}
				<form action ="{% url 'manage_opp' opportunity_id %}" method="post">
			{% else %}
				<form action ="{% url 'manage_opp' %}" method="post">
			{% endif %}
				{% csrf_token %}
				{% for field in opportunity_form %}
					{% if field.id_for_label == 'id_comments' and not user_role.is_vc_staff and opportunity_comments %}
						<div class = "row form-group">
							<div class = "col-md-2">{{ field.label_tag }}</div>
							<div class = "col-md-6">
									{{ opportunity.comments }}
								<input type="hidden" name="comments" value="{{ opportunity.comments }}">
							</div>
							<div class = "col-md-4 text-danger">{{ field.errors }}</div>
						</div>
					{% else %}
						{% if field.id_for_label != 'id_comments' or user_role.is_vc_staff %}
							{% if 'flag' not in field.id_for_label %}
								<div class = "row form-group">
									<div class = "col-md-2">{{ field.label_tag }}</b></div>
									<div class = "col-md-6">{{ field }}</div>
									<div class = "col-md-4 text-danger">{{ field.errors }}</div>
								</div>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endfor %}
				{% for field in opportunity_form %}
					{% if 'flag_value' in field.id_for_label %}
						<div class = "row form-group">
							<div class="col-md-2">{{ field.label_tag }}</div>
							<div class="col-md-1">{{ field }}</div>
					{% endif %}
					{% if 'flag_comments' in field.id_for_label %}
							<div class="col-md-5">{{ field }}</div>
							<div class="col-md-4"></div>
						</div>
					{% endif %}
				{% endfor %}
				 <div class = "row col-md-12">
				 	<input type="submit" name= "action" value="Save" class="btn">
				 	{% if opportunity_id %}
						{% if user_role.is_vc_staff %}
					 		{% if opportunity.status in 'AC' %}
						 		<input type="submit" name="action" value="Suspend" id="suspend" class="btn">
						 		<input type="submit" name="action" value="Close" id="close" class="btn">
						 	{% else %}
						 		<input type="submit" name="action" value="Comment" id="comment" class="btn">
					 			<input type="submit" name="action" value="Approve" id="approve" class="btn">
						 	{% endif %} 
						 	{% if opportunity.status == 'A' %}
					 			<input type="submit" name="action" value="Promote" id="promote" class="btn">
					 		{% endif %}
					 	{% else %}
					 		<input type="submit" name="action" value="Submit" id="submit" style="display:none">
							<button type="button" class="btn" data-toggle="modal" data-target="#submitModal">Submit for Review</button>
						{% endif %}
				 	{% endif %}
				 </div>
			</form>
		</div>
		<div class="panel-footer panel-footer-mid-pink">
		</div>
	</div>
</div>

{% endblock %}

