{% extends "volunteering/base.html" %}

<!-- Home page -->
 
 {% block title %}SAVS Volunteering{% endblock %}

 {% block content %}

	<!-- script to deal with modal submission button-->
	<script type="text/javascript">
	$(document).ready(function() {
		$("#modal_submit_button").click(function() {
			$("#submit").click();
		})
		$(".modal-trigger").click(function() {
			var button = $(this);
			var title = button.data('title');
			var action = button.data('action');
			var label = button.data('label');
			var comments = button.data('comments');
			$('#formModal').find('.modal-title').text(title);
			$('#modal_form_submit').val(action);
			$('label[for="comments"]').text(label);
			$('#comments').val(comments)
			$('#formModal').modal('show');
		});
		$("#modal_form_submit_button").click(function() {
			$("#modal_form_submit").click();
		})
	});
	</script>

	<!-- Submission Modal -->
	<div id="submitModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header savs-modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Confirm Submission</h4>
	      </div>
	      <div class="modal-body savs-modal-body">
	        <p>Are you sure that you want to submit the opportunity?</p>
	        <p>You will not be able to make further changes until the opportunity has been reviewed by SAVS.</p>
	      </div>
	      <div class="modal-footer savs-modal-footer">
	         <button type="button" class="btn savs-pink-button" data-dismiss="modal" id="modal_submit_button">Submit</button>
	        <button type="button" class="btn savs-pink-button" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>

	  </div>
	</div>

	<!-- Form Modal -->
	<div id="formModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	     	<div class="modal-header savs-modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Modal Title</h4>
	      	</div>
			<div class="modal-body savs-modal-body">
				<form action='{% url "opportunity" opportunity.pk %}' method='post'>
					{% csrf_token %}
					<label for="comments">Label</label>
					<textarea name="comments" class="form-control" maxlength="1000" required id="comments"></textarea>
					<input type="submit" name="action" value="default" id="modal_form_submit" style="display:none">
				</form>
			</div>
	      <div class="modal-footer savs-modal-footer">
	        <button type="button" class="btn savs-pink-button" id="modal_form_submit_button">Submit</button>
	        <button type="button" class="btn savs-pink-button" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>


<div class="container">

 	{% if opportunity %}

	 	<div class="panel panel-primary">
			<div class="panel-heading panel-heading-savs-pink">
				<h4 class="panel-title">{{ opportunity.title }} with 
					{% if user_role.is_vc_staff %}
						<a href="{% url 'organisation' opportunity.organisation.pk %}">{{ opportunity.organisation.name }}</a>
					{% else %}
						{{ opportunity.organisation.name }}
					{% endif %}
					{% if user_role.is_vc_staff or user_role.is_org_staff %}
						- {{ opportunity.get_status_display|upper }}
					{% endif %}
				</h4>
			</div>
			<div class="panel-body panel-body-light-pink">
				<div class="col-sm-8 col-xs-12">
	 				<strong>{{ opportunity.short_desc }}</strong>
	 				<p>{{ opportunity.description|linebreaks }}</p>
	 				{% if user_role.is_org_staff or user_role.is_vc_staff %}
	 					{% if opportunity.comments %}
	 						<strong>Comments:</strong>
	 						<p>{{ opportunity.comments|linebreaks }}</p>
	 					{% endif %}
	 				{% endif %}
			 		{% if user_actions %}
			 			<strong>History:</strong><br>
			 			{% for user_action in user_actions %}
			 				{{ user_action.opportunity_action_type }} on {{ user_action.date_time_from }}<br>
			 				{% if user_action.comments and user_action.opportunity_action_type.comments_shown %}
				 				<div class="small">{{ user_action.message_route }}: <em>{{ user_action.comments }}</em></div>
				 			{% endif %}
				 		{% endfor %}
				 	{% endif %}
				</div>
	 			<div class="col-sm-4 col-xs-12">
	 					<span class="glyphicon glyphicon-home"></span>&nbsp; {{ opportunity.organisation.name }}<br>
						<span class="glyphicon glyphicon-calendar"></span>&nbsp; From {{ opportunity.start_date }} to {{opportunity.end_date }}<br>
						{% if user_role.is_vc_staff or user_role.is_org_staff %}
							<span class="glyphicon glyphicon-bullhorn"></span>&nbsp; From {{ opportunity.active_date }} to {{opportunity.expiry_date }}<br>
							{% if opportunity.promotion_number %}
								<span class="glyphicon glyphicon-star"></span>&nbsp; Promotion number {{ opportunity.promotion_number }}<br>
							{% endif %}
						{% endif %}
						<span class="glyphicon glyphicon-time"></span>&nbsp; {{ opportunity.timing }}<br>
						<span class="glyphicon glyphicon-map-marker"></span>&nbsp; {{ opportunity.location }}<br>
						<span class="glyphicon glyphicon glyphicon-education"></span>&nbsp; {{ opportunity.skills }}<br>
						<br>
						{% if opportunity.location %}
							{{ opportunity.location }}<br>
						{% endif %}
						{% if opportunity.address_line_1 %}
							{{ opportunity.address_line_1 }}<br>
						{% endif %}
						{% if opportunity.address_line_2 %}
							{{ opportunity.address_line_2 }}<br>
						{% endif %}
						{% if opportunity.address_town %}
							{{ opportunity.address_town }}<br>
						{% endif %}
						{% if opportunity.address_county %}
							{{ opportunity.address_county }}<br>
						{% endif %}
						{% if opportunity.address_post_code %}
							{{ opportunity.address_post_code }}<br>
						{% endif %}
						{% if opportunity.email %}
							Email: {{ opportunity.email }}<br>
						{% endif %}
						{% if opportunity.phone_number %}
							Phone: {{ opportunity.phone_number }}<br>
						{% endif %}
						{% if opportunity.website %}
							Website: <a href="{{ opportunity.website }}">{{ opportunity.website }}</a><br>
						{% endif %}
						<br>
						{% for opportunity_flag in opportunity_flags %}
		 					{% if opportunity_flag.flag.publish or user_role.is_vc_staff or user_role.is_org_staff %}
		 						{% if opportunity_flag.value %}
		 							{% if opportunity_flag.flag.show_cross %}
	 									<span class="glyphicon glyphicon-remove"></span>&nbsp;
	 								{% else %}
	 									 <span class="glyphicon glyphicon-ok"></span>&nbsp;
	 								{% endif %}
	 								{{ opportunity_flag.flag.label }}<br>
		 							{% if user_role.is_org_staff or user_role.is_vc_staff and opportunity_flag.comments %}
		 								<div class="small">{{ opportunity_flag.comments }}<br></div>
		 							{% endif %}
			 					{% endif %}
		 					{% endif %}
	 					{% endfor %}
				</div>
			</div>
		 	<div class="panel-footer panel-footer-mid-pink col-xs-12">
				{% if not user_name %}
				 	 <p>You most register and login to save or apply for this opportunity.</p>
				{% else %}
					<form action='{% url "opportunity" opportunity.pk %}' method='post'>
						{% csrf_token %}
						{% if user_role.is_vc_staff %}
							<a href='{% url "manage_opp" opportunity.pk %}' class="btn savs-pink-button" role="button">Edit</a>
						{% elif user_role.is_org_staff %}
							{% if opportunity.status in 'CM' %}
							 	<a href='{% url "manage_opp" opportunity.pk %}' class="btn savs-pink-button" role="button">Edit</a>
							{% endif %}
						{% endif %}
						{% if user_role.is_vc_staff %}
							{% if opportunity.status in 'AC' %}
						 		<input type="submit" name="action" value="Suspend" id="suspend" class="btn savs-pink-button">
						 		<input type="submit" name="action" value="Close" id="close" class="btn savs-pink-button">
						 	{% else %}
								<button type="button" class="btn savs-pink-button modal-trigger" data-action="Comment" data-label="Comments:" data-title="Enter Your Comments" data-comments="{{ opportunity.comments }}">Comment</button>
					 			<input type="submit" name="action" value="Approve" id="approve" class="btn savs-pink-button">
						 	{% endif %} 
						 	{% if opportunity.status == 'A' %}
					 			<input type="submit" name="action" value="Promote" id="promote" class="btn savs-pink-button">
					 			{% if opportunity.promotion_number > 0 %}
					 				<input type="submit" name="action" value="Unpromote" id="unpromote" class="btn savs-pink-button">
					 			{% endif %}
					 		{% endif %}
					 	{% elif user_role.is_org_staff %}
					 		{% if opportunity.status == 'C' %}
					 			<input type="submit" name="action" value="Submit" id="submit" style="display:none">
								<button type="button" class="btn savs-pink-button" data-toggle="modal" data-target="#submitModal">Submit for Review</button>
					 		{% endif %}
					 	{% else %}
							{% if not latest_action %}
								<input type="submit" class="btn savs-pink-button" name="action" value="Save">
							{% endif %}
							{% if latest_action.opportunity_action_type.name == 'saved' or latest_action.opportunity_action_type.name == 'enquired' %}
								<input type="submit" class="btn savs-pink-button" name="action" value="Forget">
							{% endif %}
							{% if latest_action.opportunity_action_type.name == 'saved' or not latest_action %}
								<button type="button" class="btn savs-pink-button modal-trigger" data-action="Enquire" data-label="Enquiry:" data-title="What is Your Enquiry?" data-comments="">Enquire</button>
							{% endif %}
							{% if latest_action.opportunity_action_type.name == 'saved'  or latest_action.opportunity_action_type.name == 'enquired' or not latest_action %}
								<button type="button" class="btn savs-pink-button modal-trigger" data-action="Apply" data-label="Application:" data-title="Please add any information about your application" data-comments="">Apply</button>
							{% endif %}
						{% endif %}
						{% if user_role.is_org_staff or user_role.is_vc_staff %}
							{% if opportunity.status in 'APL' %}
								<a href='{% url "participants" opportunity.pk %}' class="btn savs-pink-button" role="button">Add Participants</a>
							{% endif %}
						{% endif %}
					</form>
				{% endif %}
			</div>
		</div>

		{% if user_role.is_vc_staff or user_role.is_org_staff %}
				&nbsp;<br>
		 		{% include "volunteering/opportunity_volunteer_table.html" %}

		{% endif %}

 	{% else %}

 		<h1>That opportunity does not exist.</h1>

 	{% endif %}

</div>

 {% endblock %}

