<script type="text/javascript">
	$(document).ready(function() {
		$(".message_row").hide();
		$(".message-trigger").click(function() {
			var button = $(this);
			var message_target = button.data('message-target');
			$(message_target).toggle()
		});
	});
</script>
			

{% if action_users %}
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped panel panel-default">
				<thead><tr>
					<th>Volunteer</th>
					{% for opportunity_action_type in opportunity_action_types %}
						<th>{{ opportunity_action_type.display_name }}</th>
					{% endfor %}
					<th>Messages</th>
				</tr></thead>
				<tbody>
					{% for action_user in action_users %}
						<tr>
							<td>
								<span class="glyphicon glyphicon-user"></span>
								{% if user_role.is_vc_staff %}
									<a href="{% url 'volunteer' action_user.pk %}">
								{% endif %}
									{{ action_user.first_name }} {{ action_user.last_name }}
								{% if user_role.is_vc_staff %}
									</a>
								{% endif %}
							</td>
							{% for opportunity_action_type in opportunity_action_types %}
								<td>
									{% for action in action_user.actions %}
										{% if action.opportunity_action_type == opportunity_action_type %}
											{{ action.date_time_from.date }}<br>
										{% endif %}
									{% endfor %}
								</td>
							{% endfor %}
							<td>
								{% if action_user.action_comments %}
									<button type="button" class="btn btn-sm message-trigger" data-message-target="#{{ action_user.pk }}_messages" >Messages</button>
								{% else %}
									No messages
								{% endif %}
							</td>
						</tr>
						{% if action_user.action_comments %}
							<tr class="message_row" id="{{ action_user.pk }}_messages">
								<td colspan={{ opportunity_action_types.count|add:'2' }}>
									{% for action in action_user.actions %}
										{% if action.comments %}
											<p><strong>{{ action.message_route }} on {{ action.date_time_from.date }}</strong>
											<br>{{ action.comments }}</p>
										{% endif %}
									{% endfor %}
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endif %}

