{% extends "volunteering/base.html" %}

<!-- Home page -->
 
 {% block title %}org Details{% endblock %}

 {% block content %}

 	<!-- script to deal with dynamic behaviour of form -->
	<script type="text/javascript">
	$(document).ready(function() {

	});
	</script>

 	<div class="container">

 		{% if organisation %}

			<div class = "panel panel-primary">
				<div class="panel-heading panel-heading-savs-pink">
					<h4 class="panel-title">{{ organisation.name }}</h4>
				</div>
				<div class="panel-body panel-body-light-pink">
					<div>Volunteer Centre: {{ organisation.volunteer_centre.name }}</div>
					<div>Email: {{ organisation.default_email }}</div>
					{% if organisation.address_line_1 %}
						<div>{{ organisation.address_line_1 }}</div>
					{% endif %}
					{% if organisation.address_line_2 %}
						<div>{{ organisation.address_line_2 }}</div>
					{% endif %}
					{% if organisation.address_town %}
						<div>{{ organisation.address_town }}</div>
					{% endif %}
					{% if organisation.address_county %}
						<div>{{ organisation.address_county }}</div>
					{% endif %}
					{% if organisation.phone_number %}
						<div>{{ organisation.phone_number }}</div>
					{% endif %}
					{% if organisation.website %}
						<div>{{ organisation.website }}</div>
					{% endif %}
					<br><div>{{ organisation.description }}</div>
				</div>
				<div class="panel-footer panel-footer-mid-pink">
					<div>
						{% if organisation.is_active %}
							ACTIVE
						{% else %}
							NOT ACTIVE
						{% endif %}
					</div>
				</div>
			</div>

			{% if opportunities %}

				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped panel panel-default">
							<thead><tr>
								<th>Opportunity</th>
								<th>Status</th>
								<th>Published?</th>
								{% for opportunity_action_type in opportunity_action_types %}
									<th class="text-right">{{ opportunity_action_type.display_name }}</th>
								{% endfor %}
							</tr></thead>
							<tbody>
								{% for opportunity in opportunities %}
									<tr>
										<td>
											<a href="{% url 'opportunity' opportunity.pk %}">
												{{ opportunity.title }}
											</a>
										</td>
										<td>{{ opportunity.get_status_display|capfirst }}</td>
										<td>
											{% if opportunity.is_published %}
												To {{ opportunity.expiry_date }}
											{% else %}
												-
											{% endif %}
										</td>
										{% for opportunity_action_count in opportunity.action_count_list %}
											<td class="text-right">{{ opportunity_action_count|default:'-' }}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			{% endif %}


	 	{% else %}

	 		<h3>That organisation does not exist.</h3>

	 	{% endif %}

 	</div>

 {% endblock %}

