{% extends "volunteering/base.html" %}

<!-- Home page -->
 
 {% block title %}SAVS Volunteering{% endblock %}

 {% block content %}

 <div class="container">

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped panel panel-default">
				<thead><tr>
					<th>Organisation</th>
					<th class="text-right">Published</th>
					{% for opportunity_status in opportunity_statuses %}
						<th class="text-right">{{ opportunity_status|capfirst }}</th>
					{% endfor %}
				</tr></thead>
				<tbody>
					{% for organisation in organisations %}
						<tr>
							<td>
								<span class="glyphicon glyphicon-home"></span>
								<a href="{% url 'organisation' organisation.pk %}">
									{{ organisation.name }}
								</a>
							</td>
							<td class="text-right">{{ organisation.published_count|default:'-' }}</td>
							{% for opportunity_status_count in organisation.action_count_list %}
								<td class="text-right">{{ opportunity_status_count|default:'-' }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if not organisations %}
				<h4>No matching organisations.</h4>
			{% endif %}
		</div>
	</div>

 </div>

 {% endblock %}

