{% extends "volunteering/base.html" %}

<!-- Login page -->
 
 {% block title %}Search results{% endblock %}

 {% block content %}


		{% if opportunities %}

		 	{% include "volunteering/top_opps.html" with top_opps=opportunities %}

		 	{% if page_list %}
			 	<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form action="{% url search_url %}" method="POST">
							{% csrf_token %}
							{% for target_page in page_list %}
									<input type="submit" value="{{ target_page }}" name="page" class="btn btn-sm savs-pink-button">
							{% endfor %}
									<input type="hidden" value="{{ keyword }}" name="keyword">
									<input type="hidden" value="{{ timing }}" name="timing">
									<input type="hidden" value="{{ status }}" name="status">
							</form>
						</div>
					</div>
				</div>
			{% endif %}

		{% else %}

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h4>There are no matching opportunities.</h4>
					</div>
				</div>
			</div>

		{% endif %}


 {% endblock %}

