 <div class="container">

 	<div class="row">
		{% for opportunity in top_opps %}
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class = "panel {{ opportunity.css_class }}">
					<div class = "panel-heading panel-heading-savs-pink panel-title">
						<a href = "{% url 'opportunity' opportunity.pk %}">{{ opportunity.title|truncatechars:30 }}</a>
					</div>
					<div class = "panel-body panel-body-light-pink oppsum">
						<p>{{ opportunity.short_desc }}</p>
						<p>{{ opportunity.description|truncatechars:140 }}</p>
						<span class="glyphicon glyphicon-home"></span>&nbsp; {{ opportunity.organisation.name }}<br>
						<span class="glyphicon glyphicon-calendar"></span>&nbsp; From {{ opportunity.start_date }} to {{opportunity.end_date }}<br>
						{% if user_role.is_vc_staff or user_role.is_org_staff %}
							<span class="glyphicon glyphicon-bullhorn"></span>&nbsp; From {{ opportunity.active_date }} to {{opportunity.expiry_date }}<br>
							{% if opportunity.promotion_number %}
								<span class="glyphicon glyphicon-star"></span>&nbsp; Promotion number {{ opportunity.promotion_number }}<br>
							{% endif %}
						{% endif %}
						<span class="glyphicon glyphicon-time"></span>&nbsp; {{ opportunity.timing|truncatechars:30 }}<br>
						<span class="glyphicon glyphicon-map-marker"></span>&nbsp; {{ opportunity.location|truncatechars:30 }}<br>
					</div>
					{% if volunteer_centre or organisation or user_name %}
						<div class="panel-footer panel-footer-mid-pink oppsum-footer">
							{{ opportunity.status_description|capfirst }}
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>

</div>