{% extends "volunteering/base.html" %}

<!-- Home page -->
 
 {% block title %}Volunteer Details{% endblock %}

 {% block content %}

 	<!-- script to deal with dynamic behaviour of form -->
	<script type="text/javascript">
	$(document).ready(function() {
		$(".message_row").hide();
		$("#modal_submit_button").click(function() {
			$("#submit").click();
		})
		$(".message-trigger").click(function() {
			var button = $(this);
			var message_target = button.data('message-target');
			$(message_target).toggle()
		});
	});
	</script>

 	<div class="container">

 		{% if volunteer %}

			<div class = "panel panel-primary">
				<div class="panel-heading panel-heading-savs-pink">
					<h4 class="panel-title">{{ user.first_name }} {{ user.last_name }}</h4>
				</div>
				<div class="panel-body panel-body-light-pink">
					<div>Email: {{ user.email }}</div>
					{{ volunteer.address_line_1 }}
					{% if volunteer.address_line_1 %}
						<div>{{ volunteer.user.address_line_1 }}</div>
					{% endif %}
					{% if volunteer.address_line_2 %}
						<div>{{ volunteer.address_line_2 }}</div>
					{% endif %}
					{% if volunteer.address_town %}
						<div>{{ volunteer.address_town }}</div>
					{% endif %}
					{% if volunteer.address_county %}
						<div>{{ volunteer.address_county }}</div>
					{% endif %}
					{% if volunteer.phone_number %}
						<div>{{ volunteer.phone_number }}</div>
					{% endif %}
				</div>
				<div class="panel-footer panel-footer-mid-pink">
					{% if user_role.is_vc_staff %}
						<a href='{% url "create_interview" volunteer.pk %}' class="btn btn-default" role="button">Create Interview</a>
					{% endif %}
				</div>
			</div>

			{% if interviews and user_role.is_vc_staff %}
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-striped panel panel-default">
							<thead><tr>
								<th>Interview Date and Time</th>
								<th>Interviewer</th>
								<th>Opportunities Discussed</th>
							</tr></thead>
							<tbody>
								{% for interview in interviews %}
									<tr>
										<td>
											<a href="{% url 'interview' interview.pk %}">{{ interview.date_time }}</a>
										</td>
										<td>{{ interview.interviewer.user.first_name }} {{ interview.interviewer.user.last_name }}</td>
										<td colspan='8'>
											{% if interview.opportunity_actions %}
												{% for opportunity_action in interview.opportunity_actions %}
													{{ opportunity_action.opportunity.title }}<br>
												{% endfor %}
											{% else %}
												No opportunities recorded for this interview.
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}

			{% if volunteer_actions %}
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-striped panel panel-default">
							<thead><tr>
								<th>Opportunity</th>
								{% for opportunity_action_type in opportunity_action_types %}
									<th>{{ opportunity_action_type.display_name }}
								{% endfor %}
								<th>Messages</th>
							</tr></thead>
							<tbody>
								{% for volunteer_action in volunteer_actions %}
									{% if user_role.is_vc_staff or volunteer_action.opportunity.organisation == user_role.organisation %}
										<tr>
											<td>
												<a href="{% url 'opportunity' volunteer_action.opportunity.pk %}">{{ volunteer_action.opportunity.title}}</a>
											</td>
											{% for opportunity_action_type in opportunity_action_types %}
												<td>
													{% for action in volunteer_action.actions %}
														{% if action.opportunity_action_type == opportunity_action_type %}
															{{ action.date_time_from.date }}<br>
														{% endif %}
													{% endfor %}
												</td>
											{% endfor %}
											<td>
												{% if volunteer_action.action_comments %}
													<button type="button" class="btn btn-sm message-trigger" data-message-target="#{{ volunteer_action.pk }}_messages" >Messages</button>
												{% else %}
													No messages
												{% endif %}
											</td>
										</tr>
										{% if volunteer_action.action_comments %}
											<tr class="message_row" id="{{ volunteer_action.pk }}_messages">
												<td colspan={{ opportunity_action_types.count|add:'2' }}>
													{% for action in volunteer_action.actions %}
														{% if action.comments %}
															<p><strong>{{ action.message_route }} on {{ action.date_time_from.date }} - {{ action.opportunity_action_type.name|capfirst }}</strong>
															<br>{{ action.comments }}</p>
														{% endif %}
													{% endfor %}
												</td>
											</tr>
										{% endif %}
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}

	 	{% else %}

	 		<h1>That volunteer does not exist.</h1>

	 	{% endif %}

 	</div>


 {% endblock %}

